/*
** Blocks / Code
** -----------------------------------------------------------------------------*/

.wp-block-code {
  padding: 1em 1.25em;
  border: 1px solid $color-gray-light;
  border-radius: 0.5em;
  font-family: $font-mono;
  font-size: 1.4rem;
}
