/*
** Blocks / Columns
** ----------------------------------------------------------------------------- */

.wp-block-columns {
  row-gap: calc(var(--chipmunk--layout--column-gutter) * 2);
  column-gap: var(--chipmunk--layout--column-gutter);
}

.wp-block-column[class] {
  &:not(:first-child) {
    margin: 0;
  }
}
