/*
** Blocks / Columns
** -----------------------------------------------------------------------------*/

.wp-block-columns {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    flex-direction: row;
  }

  &.alignfull {
    @include breakpoint(md) {
      flex-direction: row;
    }
  }
}

.wp-block-column {
  flex-basis: 0;
  flex-grow: 1;

  &[style] {
    flex-grow: 0;
  }

  &:not(:first-child) {
    margin-top: $grid-column-gutter;

    @include breakpoint(lg) {
      margin-top: 0;
      margin-left: $grid-column-gutter;
    }

    .alignfull & {
      @include breakpoint(md) {
        margin-top: 0;
        margin-left: $grid-column-gutter;
      }
    }
  }
}
