/*
** Blocks / Colors
** -----------------------------------------------------------------------------*/

$color-palette: black, gray, white !default;

@each $color in $color-palette {
  .has-#{$color}-background-color {
    background-color: $color !important;
  }

  .has-#{$color}-color {
    color: $color !important;
  }
}

p.has-background {
  padding: 0.75em 1em;

  @include breakpoint(lg) {
    padding: 1em 1.25em;
  }
}
