/*
** Blocks / Common
** -----------------------------------------------------------------------------*/

.wp-block-button,
.wp-block-buttons,
.wp-block-code,
.wp-block-preformatted,
.wp-block-categories {
  @include spacer-relative;
}

// Separators
.wp-block-table,
.wp-block-audio,
.wp-block-video,
.wp-block-embed,
.wp-block-image,
.wp-block-cover,
.wp-block-gallery,
.wp-block-columns {
  &:not(.alignleft):not(.alignright) {
    @include spacer-relative(1, top, margin, 0.25);
    @include spacer-relative(1, bottom, margin, 0.25);
  }

  &.alignwide:not(.alignnone),
  &.alignfull:not(.alignnone) {
    @include spacer-relative(2, top, margin, 0.25);
    @include spacer-relative(2, bottom, margin, 0.25);
  }
}

.wp-block-quote,
.wp-block-pullquote,
.wp-block-verse,
.wp-block-separator {
  &:not(.alignleft):not(.alignright) {
    @include spacer-relative(2, top, margin, 0.25);
    @include spacer-relative(2, bottom, margin, 0.25);
  }
}

.alignnone,
.aligncenter,
.alignleft,
.alignright {
  max-width: 100%;

  a {
    display: inline-block;
  }
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.alignleft {
  @include negative-margins((margin-left, max-width));

  @include bp(md) {
    @include spacer-relative(1, right);
    float: left;
    text-align: left;
  }

  @include bp(lg) {
    @each $layout in $grid-layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        margin-left: column(((12 - $layout) / 2) / $layout, $layout, true);
      }
    }
  }
}

.alignright {
  @include negative-margins((margin-right, max-width));

  @include bp(md) {
    @include spacer-relative(1, left);
    float: right;
    text-align: right;
  }
}

.alignleft,
.alignright {
  @include spacer-relative(1, top);
  @include spacer-relative(1, bottom);

  @include bp(md) {
    max-width: 50%;
    margin-bottom: $spacer;
  }
}

.alignwide {
  @include negative-margins((width, margin));
}

.alignfull {
  .column[class*="offset"] & {
    @include full-width;

    &.wp-block-columns {
      @include full-width($grid-container-gutter);
    }
  }
}
