/*
** Blocks / Common
** -----------------------------------------------------------------------------*/

.wp-block-button,
.wp-block-code,
.wp-block-preformatted,
.wp-block-categories {
  &:not(:first-child) {
    margin-top: $base-spacing;
  }
}

// Separators
.wp-block-separator {
  &:not(.align-left):not(.alignright) {
    @include spacer(top);
    @include spacer(bottom);
  }
}

// Media
.wp-block-table,
.wp-block-audio,
.wp-block-video,
.wp-block-embed,
.wp-block-image,
.wp-block-cover,
.wp-block-gallery,
.wp-block-columns,
.wp-block-quote,
.wp-block-pullquote,
.wp-block-verse {
  &:not(.align-left):not(.alignright) {
    @include spacer(top, 2);
    @include spacer(bottom, 2);
  }
}

// Alignments
.alignnone,
.aligncenter,
.alignleft,
.alignright {
  max-width: 100%;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alignleft {
  @include breakpoint(sm) {
    float: left;
    margin-right: $base-spacing;
    text-align: left;
  }

  @include breakpoint(lg) {
    .column--lg-8[class*="offset"] & {
      margin-left: column(2/8, true);
    }

    .column--lg-10[class*="offset"] & {
      margin-left: column(1/10, true);
    }
  }
}

.alignright {
  @include breakpoint(sm) {
    float: right;
    margin-left: $base-spacing;
    text-align: right;
  }

  @include breakpoint(lg) {
    .column--lg-6[class*="offset"] & {
      margin-right: column(3/6, true);
    }

    .column--lg-8[class*="offset"] & {
      margin-right: column(2/8, true);
    }

    .column--lg-10[class*="offset"] & {
      margin-right: column(1/10, true);
    }
  }
}

.alignleft,
.alignright {
  @include breakpoint(sm) {
    max-width: 50%;
  }

  @include breakpoint(lg) {
    .column--lg-6[class*="offset"] & {
      max-width: column(3/6, false, 50%);
    }

    .column--lg-8[class*="offset"] & {
      max-width: column(2/8, false, 50%);
    }

    .column--lg-10[class*="offset"] & {
      max-width: column(1/10, false, 50%);
    }
  }

  &:not(:first-child) {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}

.alignwide {
  @include breakpoint(lg) {
    .column--lg-6[class*="offset"] & {
      margin-left: column(3/6, true);
      margin-right: column(3/6, true);
    }

    .column--lg-8[class*="offset"] & {
      margin-left: column(2/8, true);
      margin-right: column(2/8, true);
    }

    .column--lg-10[class*="offset"] & {
      margin-left: column(1/10, true);
      margin-right: column(1/10, true);
    }
  }
}

.alignfull {
  [class*="offset"] & {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
