/*
** Blocks / Cover
** -----------------------------------------------------------------------------*/

.wp-block-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &:not(.alignwide):not(.alignfull) {
    width: 100%;
  }

  &.has-left-content {
    justify-content: flex-start;
  }

  &.has-right-content {
    justify-content: flex-end;
  }

  &.has-background-dim {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: inherit;
      opacity: 0.5;
      pointer-events: none;
    }

    @for $i from 1 through 10 {
      &.has-background-dim-#{$i * 10}::before {
        opacity: $i * 0.1;
      }
    }
  }

  &.has-parallax {
    background-attachment: fixed;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }
}

.wp-block-cover__inner-container {
  position: relative;
  z-index: $layer-base;
  max-width: 60rem;
  width: 90%;
  padding: 0.5em 1em;
  color: $color-white;

  a:not([class]) {
    color: inherit !important;

    &:hover {
      color: inherit !important;
      opacity: 0.8;
    }
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .wp-block-cover.has-parallax,
  .wp-block-cover-image.has-parallax {
    background-attachment: scroll;
  }
}
