/*
** Blocks / Cover
** -----------------------------------------------------------------------------*/

.wp-block-cover,
.wp-block-cover-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.5em 0;
  background-color: $color-black;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;

  &:not(.alignwide):not(.alignfull) {
    width: 100%;
  }

  &.has-left-content {
    justify-content: flex-start;
    text-align: left;
  }

  &.has-right-content {
    justify-content: flex-end;
    text-align: right;
  }

  &.has-background-dim {
    &::before {
      @include u-overlay;
      content: '';
      background-color: inherit;
      opacity: 0.5;
      pointer-events: none;
    }

    @for $i from 1 through 10 {
      &.has-background-dim-#{$i * 10}::before {
        opacity: $i * 0.1;
      }
    }
  }

  &.has-parallax {
    background-attachment: fixed;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }
}

.wp-block-cover-image-text,
.wp-block-cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: $layer-base;
  max-width: 60rem;
  width: 90%;
  padding: 0.5em 1em;
  color: $color-white;
  font-size: 2.6rem;
  line-height: 1.2;
  transform: translate3d(-50%, -50%, 0);

  @include breakpoint(lg) {
    font-size: 4rem;
  }

  a:not([class]) {
    color: inherit;

    &:hover {
      color: inherit !important;
      opacity: 0.8;
    }
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .wp-block-cover.has-parallax,
  .wp-block-cover-image.has-parallax {
    background-attachment: scroll;
  }
}
