/*
** Blocks / Embeds
** ----------------------------------------------------------------------------- */

.wp-block-video,
.wp-block-embed {
  position: relative;
  aspect-ratio: 16 / 9;

  .wp-block-embed__wrapper {
    display: contents;
  }

  video,
  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
