/*
** Blocks / Audio
** -----------------------------------------------------------------------------*/

$aspects: (
  (width: 21, height: 9),
  (width: 18, height: 9),
  (width: 16, height: 9),
  (width: 4, height: 3),
  (width: 1, height: 1),
  (width: 9, height: 16),
  (width: 2, height: 1)
) !default;

.wp-block-audio,
.wp-block-video,
.wp-block-embed {
  audio,
  video,
  iframe {
    display: block;
    width: 100%;
  }

  figcaption {
    @extend %caption-text;
    @extend %caption-block;
  }
}

.wp-block-embed__wrapper {
  .wp-embed-responsive & {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }

    iframe {
      @include u-overlay;
      height: 100%;
      width: 100%;
    }
  }

  @each $aspect in $aspects {
    $width: map-get($aspect, 'width');
    $height: map-get($aspect, 'height');

    .wp-embed-responsive .wp-embed-aspect-#{$width}-#{$height} &::before {
      padding-bottom: 100% / ($width / $height);
    }
  }
}
