/*
** Blocks / Gallery
** ----------------------------------------------------------------------------- */

.wp-block-gallery {
  --gallery-block--gutter-size: var(--chipmunk--layout--column-gutter);
}
