/*
** Blocks / Gallery
** -----------------------------------------------------------------------------*/

.blocks-gallery-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -$grid-column-gutter;
}

.blocks-gallery-item {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: $grid-column-gutter;

  @for $i from 2 through 6 {
    $gallery-breakpoints: (sm: ceil($i / 2), md: ceil($i / 1.5), lg: ceil($i / 1));

    .columns-#{$i} & {
      @each $breakpoint, $columns in $gallery-breakpoints {
        @include breakpoint($breakpoint) {
          flex-basis: calc(100% / #{$columns} - #{$grid-column-gutter});

          &:nth-child(1n) {
            margin-right: $grid-column-gutter;
          }

          &:last-child,
          &:nth-child(#{$columns}n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  figure {
    position: relative;
    width: 100%;
  }

  figcaption {
    @extend %caption;
    display: none;

    @include breakpoint(md) {
      display: flex;
    }
  }

  img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    object-fit: cover;
  }

  .is-cropped & {
    align-items: stretch;
  }
}

.blocks-gallery-caption {
  @extend %caption-text;
  @extend %caption-block;
}
