/*
** Blocks / Gallery
** -----------------------------------------------------------------------------*/

.blocks-gallery-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -$grid-column-gutter;

  &.flickity-enabled {
    display: block;
    max-height: 112.5rem * 0.75;
    list-style: none;
    overflow: hidden;

    .flickity-viewport {
      padding-bottom: 56.25%;
    }
  }
}

.blocks-gallery-item {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: $grid-column-gutter;

  @for $i from 2 through 6 {
    $gallery-breakpoints: (sm: ceil($i / 2), md: ceil($i / 1.5), lg: ceil($i / 1));

    .columns-#{$i} & {
      @each $breakpoint, $columns in $gallery-breakpoints {
        @include breakpoint($breakpoint) {
          flex-basis: calc(100% / #{$columns} - #{$grid-column-gutter});

          &:nth-child(1n) {
            margin-right: $grid-column-gutter;
          }

          &:last-child,
          &:nth-child(#{$columns}n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  figure {
    position: relative;
    width: 100%;
  }

  figcaption {
    @extend %caption;
    display: none;

    @include breakpoint(md) {
      display: flex;
    }
  }

  img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    object-fit: cover;
  }

  .is-cropped & {
    align-items: stretch;
  }

  .flickity-enabled & {
    flex: none;
    height: 100%;
    width: 85%;
    max-height: 112.5rem * 0.75;
    margin-left: 0.5em;
    margin-right: 0.5em;

    @include breakpoint(md) {
      width: 90%;
    }

    @include breakpoint(lg) {
      max-width: 112.5rem;
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      width: 100%;
      height: 100%;
      background-color: $color-black;
    }

    img {
      &.is-loaded {
        flex: 1;
        width: 100%;
        height: 100%;
      }

      &.is-fit-cover {
        object-fit: cover;
      }

      &.is-fit-contain {
        object-fit: contain;
      }
    }
  }
}
