/*
** Blocks / Image
** -----------------------------------------------------------------------------*/

.wp-block-image {
  position: relative;

  &.alignwide,
  &.alignfull {
    img {
      width: 100%;
    }
  }

  figcaption {
    @extend %caption-text;
    @extend %caption-block;
  }
}
