/*
** Blocks / Image
** -----------------------------------------------------------------------------*/

.wp-block-image {
  position: relative;

  img {
    background-color: rgba($color-black, 0.8);
  }

  &.alignwide,
  &.alignfull {
    img {
      width: 100%;
    }
  }

  figcaption {
    @extend %caption-text;
    @extend %caption-block;
  }
}
