/*
** Blocks / Quote
** -----------------------------------------------------------------------------*/

.wp-block-quote {
  @include spacer-relative(1, left, padding, 166666);
  border-left: 1px solid $color-primary;

  @include bp(lg) {
    border-left-width: 2px;
  }

  cite,
  footer {
    @extend %caption-text;
    @extend %caption-quote;
  }

  &.is-style-large {
    p {
      font-size: 1.2em;
    }
  }
}
