{% do action('chipmunk_before_post_content') %}

<div class="c-entry__content {{ cn('c-content', 'type') }}" itemprop="articleBody">
  {{ post.content }}
</div>

{% do action('chipmunk_after_post_content') %}
