{% do action(get_theme_slug('before_post_content')) %}

<div class="c-entry__content {{ class('c-content', 'type') }}" itemprop="articleBody">
  {{ post.content }}
</div>

{% do action(get_theme_slug('after_post_content')) %}
