<div class="filter__group column column_md-2 column_lg-4">
    <div class="filter">
      <h4 class="filter__title visible-lg-inline-block">Sort by:</h4>

      <select class="filter__select custom-select" data-filter="sort">
        <option value="date-desc">Date &darr;</option>
        <option value="date-asc">Date &uarr;</option>
        <option value="name-desc">Name &darr;</option>
        <option value="name-asc">Name &uarr;</option>
        <option value="views-desc">Views &darr;</option>
        <option value="views-asc">Views &uarr;</option>
        <option value="upvotes-desc">Upvotes &darr;</option>
        <option value="upvotes-asc">Upvotes &uarr;</option>
      </select>
    </div>
    <!-- /.filter -->
</div>
