<div class="section section_theme-primary text_center">
  <div class="container">
    <h2 class="heading heading_xl">Newsletter</h2>
    <p class="heading heading_thin">Never miss a thing! Sign up for our newsletter to stay updated.</p>

    <div class="row">
      <form action="#" method="post" class="form form_compact column column_sm-4 column_sm-offset-1 column_md-4 column_md-offset-1 column_lg-6 column_lg-offset-3">
        <div class="form__field">
          <input type="email" name="email" placeholder="Email address" required>
        </div>
        <div class="form__field form__field_center">
          <button type="submit" class="button button_secondary">Join now</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.section -->
