<div class="section section--theme-primary text--center">
  <div class="container">
    <h2 class="heading heading--xl">Newsletter</h2>
    <p class="heading heading--thin">Never miss a thing! Sign up for our newsletter to stay updated.</p>

    <div class="row">
      <form action="#" method="post" class="form form--compact column column--sm-4 column--sm-offset-1 column--md-4 column--md-offset-1 column--lg-6 column--lg-offset-3">
        <div class="form__field">
          <input type="email" name="email" placeholder="Email address" required>
        </div>
        <div class="form__field form__field--center">
          <button type="submit" class="button button--secondary">Join now</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.section -->
