<header class="page-head">
  <div class="container">
    <div class="page-head__inner">
      <h1 class="page-head__logo">
        <a href="#" rel="index">
          <span class="sr-only">Chipmunk Theme</span>
          <img src="images/chipmunk.png" alt="" />
        </a>
      </h1>

      <nav class="nav-primary">
        <div class="nav-primary__inner">
          <ul class="nav-primary__list">
            <li class="nav-primary__item"><a href="#">Collections</a></li>
            <li class="nav-primary__item"><a href="#">Resources</a></li>
            <li class="nav-primary__item"><a href="#">About</a></li>
            <li class="nav-primary__item"><a href="#">Contact</a></li>
            <li class="nav-primary__item dropdown__trigger">
              <a href="#">FAQ</a>

              <ul class="dropdown">
                <li class="dropdown__item"><a href="#" class="dropdown__link">Dropdown Item #1</a></li>
                <li class="dropdown__item"><a href="#" class="dropdown__link">Dropdown Item #2</a></li>
                <li class="dropdown__item"><a href="#" class="dropdown__link">Dropdown Item #3</a></li>
              </ul>
            </li>
            <li class="nav-primary__item hidden-lg"><button type="button" class="button button--secondary" data-popup="#submit">Submit</button></li>
          </ul>

          <button type="button" class="nav-primary__close hidden-lg" data-toggle="nav">
            <span class="sr-only">Close</span>
            {% include '../partials/icon.twig' with { 'icon': 'close' } %}
          </button>
        </div>
        <!-- /.nav-primary__inner -->
      </nav>
      <!-- /.nav-primary -->

      <div class="page-head__cta">
        <button type="button" class="page-head__search" data-toggle="search">{% include '../partials/icon.twig' with { 'icon': 'search' } %}<span class="sr-only">Search</span></button>
        <button type="button" class="button button--secondary visible-lg-block" data-popup="#submit">Submit</button>
        <button type="button" class="page-head__trigger button button--secondary hidden-lg" data-toggle="nav">Menu</button>
      </div>
      <!-- /.page-head__cta -->
    </div>
    <!-- /.page-head__inner -->
  </div>
  <!-- /.container -->
</header>
<!-- /.page-head -->
