<footer class="page-foot section section_compact">
  <div class="container">
    <p class="page-foot__copy">&copy; Internet Curated 2016</p>
  </div>
  <!-- /.container -->
</footer>
<!-- /.page-foot -->
