<header class="page-head">
  <div class="container">
    <div class="page-head__inner">
      <h1 class="page-head__logo"><a href="#" rel="index">Chipmunk Theme</a></h1>

      <nav class="nav-primary">
        <ul>
          <li class="nav-primary__item"><a href="#">Collections</a></li>
          <li class="nav-primary__item"><a href="#">About</a></li>
        </ul>
      </nav>
      <!-- /.nav-primary -->

      <div class="page-head__cta">
        <a href="#" class="page-head__search"><i class="icon icon_search"></i><span class="sr-only">Search</span></a>
        <a href="#" class="button button_secondary">Submit</a>
      </div>
      <!-- /.page-head__cta -->
    </div>
    <!-- /.page-head__inner -->
  </div>
  <!-- /.container -->
</header>
<!-- /.page-head -->
