<div class="popup">
  <div class="container">
    <div class="popup__content">
      <div class="popup__inner">
        {% include '../sections/submit.twig' %}
      </div>

      <button class="popup__close" onclick="closePanels()">
        {% include '../partials/icon.twig' with { icon: 'close' } %}
      </button>
    </div>
  </div>
</div>
<!-- /.popup -->
