<a href="#" class="tile tile_card tile_blank column column_md-3 column_lg-4">
  <div class="tile__image">
    <img src="http://placehold.it/300x210?text=Blog+post" alt="">
  </div>

  <div class="tile__content">
    <div class="tile__info">
      <div class="tile__head">
        <h3 class="tile__title">{{ post.title }}</h3>
      </div>
      <p class="tile__copy">{{ post.excerpt }}</p>
    </div>

    <ul class="tile__stats stats">
      {% include '../partials/post-stats.twig' with { collections: post.categories | slice (0, 1) } %}
    </ul>

    <button type="button" class="tile__button button button_secondary visible-lg-block">Read more</button>
  </div>
</a>
