<div class="section section--theme-light section--compact">
  <div class="promo">
    <div class="container">
      <a href="#" target="_blank">
        <img src="http://placehold.it/940x370?text=Advertisement" alt="" />
      </a>
    </div>
  </div>
  <!-- /.promo -->
</div>
<!-- /.section -->
