<a href="#" class="tile tile--card{{ column ? ' column column--md-3 column--lg-4' : '' }}{{ column and loop.last ? ' visible-lg-block' : '' }}">
  <div class="tile__image">
    <img src="http://placehold.it/600x420?text=Resource" alt="" />
  </div>

  <div class="tile__content">
    <div class="tile__info">
      <div class="tile__head">
        <h3 class="tile__title">{{ resource }}</h3>
      </div>
      <p class="tile__copy">A curated directory of 400 resources & tools for startups&nbsp;{% include '../partials/icon.twig' with { 'icon': 'arrow-right' } %}</p>
    </div>

    <ul class="tile__stats stats">
      {% include '../partials/post-stats.twig' with { upvote: true } %}
    </ul>
  </div>
</a>
