<aside class="search-bar">
  <div class="container">
    <div class="search-bar__inner">
      <form action="#" method="get" class="search-bar__form">
        <button type="submit"><i class="search-bar__icon icon icon_search"></i></button>
        <input type="text" name="search" placeholder="Search query&hellip;" required>
      </form>

      <button type="button" class="search-bar__close" data-toggle="search"><i class="icon icon_close"></i><span class="sr-only">Close</span></button>
    </div>
    <!-- /.search-bar__inner -->
  </div>
</aside>
<!-- /.search-bar -->
