<ul>
  <li class="nav-socials__item">
    <a href="#" class="nav-socials__link" title="Twitter">
      {% include '../partials/icon.twig' with { 'icon': 'social-twitter' } %}
      <span class="sr-only">Twitter</span>
    </a>
  </li>

  <li class="nav-socials__item">
    <a href="#" class="nav-socials__link" title="Facebook">
      {% include '../partials/icon.twig' with { 'icon': 'social-facebook' } %}
      <span class="sr-only">Facebook</span>
    </a>
  </li>

  <li class="nav-socials__item">
    <a href="#" class="nav-socials__link" title="Pinterest">
      {% include '../partials/icon.twig' with { 'icon': 'social-pinterest' } %}
      <span class="sr-only">Pinterest</span>
    </a>
  </li>
</ul>