<div class="section section_theme-light section_compact">
  <div class="container">
    <div class="toolbox">
      <div class="toolbox__share">
        <nav class="nav-socials">
          <h4 class="nav-socials__title">Follow us</h4>
          <ul>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="Twitter">
                {% include '../partials/icon.twig' with { 'icon': 'social-twitter' } %}
                <span class="sr-only">Twitter</span>
              </a>
            </li>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="Facebook">
                {% include '../partials/icon.twig' with { 'icon': 'social-facebook' } %}
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="Google+">
                {% include '../partials/icon.twig' with { 'icon': 'social-google' } %}
                <span class="sr-only">Google+</span>
              </a>
            </li>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="YouTube">
                {% include '../partials/icon.twig' with { 'icon': 'social-youtube' } %}
                <span class="sr-only">YouTube</span>
              </a>
            </li>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="Instagram">
                {% include '../partials/icon.twig' with { 'icon': 'social-instagram' } %}
                <span class="sr-only">Instagram</span>
              </a>
            </li>
            <li class="nav-socials__item">
              <a href="#" class="nav-socials__link" title="Pinterest">
                {% include '../partials/icon.twig' with { 'icon': 'social-pinterest' } %}
                <span class="sr-only">Pinterest</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.nav-socials -->
      </div>

      <div class="toolbox__cta visible-md-flex">
        <p class="visible-lg-block">Internet is huge! Help us find great content</p>
        <button type="button" class="toolbox__button button button_primary" data-toggle="popup">Submit</button>
      </div>
    </div>
    <!-- /.toolbox -->
  </div>
</div>
<!-- /.section -->
