<div class="section section_theme-light section_compact">
  <div class="container">
    <div class="toolbox">
      <div class="toolbox__share">
        <nav class="nav-socials">
          <h4 class="nav-socials__title">Follow us</h4>
          <ul>
            <li class="nav-socials__item"><a href="#" title="Twitter"><i class="icon icon_social-twitter"></i><span class="sr-only">Twitter</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Facebook"><i class="icon icon_social-facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Google+"><i class="icon icon_social-google"></i><span class="sr-only">Google+</span></a></li>
            <li class="nav-socials__item"><a href="#" title="YouTube"><i class="icon icon_social-youtube"></i><span class="sr-only">YouTube</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Instagram"><i class="icon icon_social-instagram"></i><span class="sr-only">Instagram</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Pinterest"><i class="icon icon_social-pinterest"></i><span class="sr-only">Pinterest</span></a></li>
          </ul>
        </nav>
        <!-- /.nav-socials -->
      </div>

      <div class="toolbox__cta visible-md-flex">
        <p class="visible-lg-block">Internet is huge! Help us find great content</p>
        <button type="button" class="toolbox__button button button_primary" data-toggle="popup">Submit</button>
      </div>
    </div>
    <!-- /.toolbox -->
  </div>
</div>
<!-- /.section -->
