{% if is_option_enabled('terms', post.type) %}
  {% set taxonomy = term_args.taxonomy ?? 'category' %}
  {% set terms = post.terms(taxonomy) %}

  {% if terms %}
    <li class="{{ class('c-stats__item', 'terms') }}{{ term_args.desktop_only ? ' u-visible-lg-flex' }}" title="{{ __('Terms', 'chipmunk') }}">
      {% include 'partials/icon.twig' with { icon: (taxonomy == 'resource-collection' ? 'collection' : 'tag') } only %}
      {{ get_term_list(terms, term_args ?? []) }}
    </li>
  {% endif %}
{% endif %}
