# OS or Editor folders
.DS_Store*
._*
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
.cache
.project
.settings
.tmproj
*.esproj

# Project specific
/vendor/**/.git
/node_modules
.env
.budfiles
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
