<div class="c-page-foot l-section l-section--compact">
  <div class="l-container">
    <div class="c-page-foot__inner">
      <p class="c-page-foot__copy">
        {{ get_option('copyright_text') | e('wp_kses_post') | shortcodes }}
      </p>

      {% if not get_option('disable_credits') %}
        {% set credits %}
          {{ __('Made with Chipmunk', 'chipmunk') }}
          {{ asset_path('images/logo.svg') | svg_content }}
        {% endset %}

        {{ get_external_link('https://chipmunktheme.com', credits, {
          class: 'c-page-foot__credits',
          title: __('Chipmunk WordPress Theme', 'chipmunk'),
          rel: null,
        }) }}
      {% endif %}
    </div>
  </div>
</div>
