{% if post.comment_status == 'open' or post.comments %}
  <div class="{{ cn('l-section', 'theme-light') }}">
    <div class="l-container">
      <div class="l-wrapper">
        {% include 'sections/comments/list.twig' %}
        {% include 'sections/comments/form.twig' %}
      </div>
    </div>
  </div>
{% endif %}
