{% if post.comment_status == 'open' or post.comments %}
  <div class="{{ cn('l-section', 'theme-light') }}">
    <div class="l-container">
      {{ post.comment_form }}
    </div>
  </div>
{% endif %}
