{# TODO: Make sure the filters actually work #}
<div class="c-filter__group">
  {% if is_option_enabled('filters', 'resource', false) and not is_tax() %}
    {% set tags = get_terms({
      taxonomy: 'resource-tag',
      orderby: 'name',
      hide_empty: true,
    }) %}

    {% if tags %}
      {% include 'partials/filter.twig' with {
        filter: 'tag',
        title: __('Filter by', 'chipmunk'),
        placeholder: __('Choose topic', 'chipmunk'),
        options: tags | map(tag => {
          value: tag.slug,
          title: tag.name | capitalize,
          selected: tag.slug == get_param('tag'),
        }),
      } %}
    {% endif %}
  {% endif %}

  {% if is_option_enabled('sorting', 'resource', false) %}
    {% set orderby = get_option('default_sort_by') %}
    {% set order = get_option('default_sort_order') %}

    {% set options = [
      {
        value: 'date-desc',
        title: __('Date', 'chipmunk') ~ ' &uarr;',
        selected: get_param('sort') == 'date-desc' or (not get_param('sort') and orderby == 'date' and order == 'desc'),
      },
      {
        value: 'date-asc',
        title: __('Date', 'chipmunk') ~ ' &darr;',
        selected: get_param('sort') == 'date-asc' or (not get_param('sort') and orderby == 'date' and order == 'asc'),
      },
      {
        value: 'name-desc',
        title: __('Name', 'chipmunk') ~ ' &uarr;',
        selected: get_param('sort') == 'name-desc' or (not get_param('sort') and orderby == 'name' and order == 'desc'),
      },
      {
        value: 'name-asc',
        title: __('Name', 'chipmunk') ~ ' &darr;',
        selected: get_param('sort') == 'name-asc' or (not get_param('sort') and orderby == 'name' and order == 'asc'),
      },
    ] %}

    {% if is_option_enabled('views', 'resource', false) %}
      {% set options = options | merge([{
        value: 'views-desc',
        title: __('Views', 'chipmunk'),
        selected: get_param('sort') == 'views-desc' or (not get_param('sort') and orderby == 'views'),
      }]) %}
    {% endif %}

    {% if is_option_enabled('upvotes', 'resource', false) %}
      {% set options = options | merge([{
        value: 'upvotes-desc',
        title: __('Upvotes', 'chipmunk'),
        selected: get_param('sort') == 'upvotes-desc' or (not get_param('sort') and orderby == 'upvotes'),
      }]) %}
    {% endif %}

    {% if is_option_enabled('ratings', 'resource', false) and is_addon_enabled('ratings') %}
      {% set options = options | merge([{
        value: 'ratings-desc',
        title: __('Ratings', 'chipmunk'),
        selected: get_param('sort') == 'ratings-desc' or (not get_param('sort') and orderby == 'ratings'),
      }]) %}
    {% endif %}

    {% include 'partials/filter.twig' with {
      filter: 'sort',
      title: __('Sort by', 'chipmunk'),
      options: options,
    } %}
  {% endif %}
</div>
