{# TODO: Make sure the filters actually work #}
<div class="c-filter__group">
  {% if is_option_enabled('filters', 'resource', false) and (not is_tax() or get_param('resource-tag')) %}
    {% set tags = get_terms('resource-tag') %}

    {% if tags %}
      {% include 'partials/filter.twig' with {
        filter: 'resource-tag',
        title: __('Filter by', 'chipmunk'),
        placeholder: __('Choose topic', 'chipmunk'),
        options: tags | map(tag => {
          value: tag.slug,
          title: tag.name | capitalize,
          selected: tag.slug == get_param('resource-tag'),
        }),
      } %}
    {% endif %}
  {% endif %}

  {% if is_option_enabled('ordering', 'resource', false) %}
    {% set orderby = get_param('orderby') ?: get_option('default_resource_orderby') %}
    {% set order = get_param('order') ?: get_option('default_resource_order') %}

    {% set options = [
      {
        value: 'date-desc',
        title: __('Date', 'chipmunk') ~ ' &uarr;',
        selected: orderby == 'date' and order == 'desc',
      },
      {
        value: 'date-asc',
        title: __('Date', 'chipmunk') ~ ' &darr;',
        selected: orderby == 'date' and order == 'asc',
      },
      {
        value: 'title-desc',
        title: __('Title', 'chipmunk') ~ ' &uarr;',
        selected: orderby == 'title' and order == 'desc',
      },
      {
        value: 'title-asc',
        title: __('Title', 'chipmunk') ~ ' &darr;',
        selected: orderby == 'title' and order == 'asc',
      },
    ] %}

    {% if is_option_enabled('views', 'resource', false) %}
      {% set options = options | merge([{
        value: 'views',
        title: __('Views', 'chipmunk'),
        selected: orderby == 'views',
      }]) %}
    {% endif %}

    {% if is_option_enabled('upvotes', 'resource', false) %}
      {% set options = options | merge([{
        value: 'upvotes',
        title: __('Upvotes', 'chipmunk'),
        selected: orderby == 'upvotes',
      }]) %}
    {% endif %}

    {% if is_option_enabled('ratings', 'resource', false) and is_addon_enabled('ratings') %}
      {% set options = options | merge([{
        value: 'ratings',
        title: __('Ratings', 'chipmunk'),
        selected: orderby == 'ratings',
      }]) %}
    {% endif %}

    {% include 'partials/filter.twig' with {
      filter: 'order',
      title: __('Order by', 'chipmunk'),
      options,
    } %}
  {% endif %}
</div>
