/*
** Component - Hamburger
** -------------------------------------------------------------------------- */

.c-hamburger {
  // Variables
  --hamburger-width: 2.5rem;
  --hamburger-height: 1.9rem;
  --hamburger-weight: 2px;
  --hamburger-color: currentcolor;
  --hamburger-duration: var(--chipmunk--transition-duration);
  --hamburger-radius: 3px;

  position: relative;
  display: flex;
  align-items: center;
  width: var(--hamburger-width);
  height: var(--hamburger-width);
  cursor: pointer;

  > * {
    position: relative;
    height: var(--hamburger-weight);
    transition-property: color, background-color, transform;
    transition-duration: var(--hamburger-duration);

    &,
    &::before,
    &::after {
      display: block;
      width: 100%;
      background-color: var(--hamburger-color);
      border-radius: var(--hamburger-radius);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 80%;
      transition:
        top var(--hamburger-duration) var(--hamburger-duration),
        bottom var(--hamburger-duration) var(--hamburger-duration),
        width var(--hamburger-duration) var(--hamburger-duration),
        transform var(--hamburger-duration) 0s,
        background-color var(--hamburger-duration) 0s;
    }

    &::before {
      top: calc(((var(--hamburger-height) * 0.5) - (var(--hamburger-weight) * 0.5)) * -1);
    }

    &::after {
      bottom: calc(((var(--hamburger-height) * 0.5) - (var(--hamburger-weight) * 0.5)) * -1);
    }
  }

  .has-nav-open & {
    > * {
      background-color: transparent;
      transform: scale(0.825);

      &::before,
      &::after {
        // Revert the delays
        width: 100%;
        transition:
          top var(--hamburger-duration) 0s,
          bottom var(--hamburger-duration) 0s,
          width var(--hamburger-duration) 0s,
          transform var(--hamburger-duration) var(--hamburger-duration),
          background-color var(--hamburger-duration) var(--hamburger-duration);
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
