/*
** Component - Overlay
** -------------------------------------------------------------------------- */

.c-overlay {
  position: fixed;
  inset: 0;
  z-index: var(--chipmunk--layer--overlay);
  display: flex;
  background-color: var(--chipmunk--color--background);
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
  pointer-events: none;
  backface-visibility: hidden;
  transition: opacity, transform;
  transition-duration: var(--chipmunk--transition-duration);

  .has-nav-open & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }
}

.c-overlay__inner {
  @extend %container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - var(--header-height, 0px));
  margin-top: var(--header-height, 0);
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.c-overlay__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.c-overlay__bottom {
  margin-top: auto;

  &:not(:first-child) {
    margin-top: 5vh;
  }
}
