{% embed 'wrappers/section.twig' with { class: 'c-page-foot', modifiers: 'compact' } %}
  {% block content %}
    <div class="c-page-foot__inner">
      <p class="c-page-foot__copy">
        {{ get_option('copyright_text') | wp_kses_post | shortcodes }}
      </p>

      {% if not get_option('disable_credits') %}
        {% set credits %}
          {{ __('Made with %s', 'chipmunk') | format(get_theme_property('name')) }}
          {{ get_svg_content(asset('images/logo.svg')) }}
        {% endset %}

        {{ get_external_link('https://chipmunktheme.com', credits, {
          class: 'c-page-foot__credits',
          rel: null,
        }) }}
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}
