{% include '../partials/head.twig' with { 'pageName': pageName } %}

<body class="{{ bodyClass }}">
  <div class="body-bag">
    {% include '../partials/page-head.twig' %}

    {% block content %}
      No content
    {% endblock %}

    {% include '../partials/promo.twig' %}

    {% if pageName != 'Index' %}
      {% include '../partials/toolbox.twig' %}
    {% endif %}

    {% include '../partials/newsletter.twig' %}
    {% include '../partials/page-bottom.twig' %}
    {% include '../partials/page-foot.twig' %}
  </div>
  <!-- /.body-bag -->

  {% include '../partials/search-bar.twig' %}
  {% include '../partials/popup.twig' %}
  {% include '../partials/scripts.twig' %}
</body>
</html>
