/*
** Common - Base
** -----------------------------------------------------------------------------*/

body {
  position: relative;
  background-color: $color-gray-lightest;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-line-height;

  // These values will not show up in content, but can be
  // queried by JavaScript to know which breakpoint is active.
  // Add or remove as many breakpoints as you like.
  &::before {
    display: none;

    @each $breakpoint, $size in $breakpoints {
      @include breakpoint($breakpoint) {
        content: '#{$breakpoint}';
      }
    }
  }

  &.has-popup-open {
    &::after {
      @include cover;
      content: '';
      z-index: $zindex-popup - 1;
      background-color: rgba($color-black, 0.8);
    }
  }
}

a, button {
  transition-duration: $transition-speed;
  transition-property: color, background-color, border, opacity;
}
