/*
** Common - Base
** -----------------------------------------------------------------------------*/

body {
  @include typography-properties($body-type);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: $color-background;

  &::after {
    @include u-overlay;
    content: '';
    z-index: $layer-popup - 1;
    background-color: rgba($color-black, 0.9);
    opacity: 0;
    pointer-events: none;
    transform: translateX(-300%);
    transition: opacity $transition-duration, transform 0s $transition-duration;
  }

  &.has-popup-open {
    &::after {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
      transition: opacity $transition-duration 0s, transform 0s 0s;
    }
  }

  > #wpadminbar {
    position: fixed;
  }
}

a,
button,
.button,
input[type="submit"] {
  @extend %link-transition;

  &:focus {
    outline: none;
  }
}
