/*
** Common - Base
** -----------------------------------------------------------------------------*/

body {
  min-height: 100%;
  position: relative;
  background-color: $color-gray-lightest;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  line-height: $font-line-height;

  &::after {
    @include u-overlay;
    content: '';
    z-index: $zindex-popup - 1;
    background-color: rgba($color-black, 0.8);
    opacity: 0;
    pointer-events: none;
    transform: translateX(-300%);
    transition: opacity $transition-speed, transform 0s $transition-speed;
  }

  &.has-popup-open {
    &::after {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
      transition: opacity $transition-speed 0s, transform 0s 0s;
    }
  }

  > #wpadminbar {
    position: fixed;
  }
}

a,
button,
.button,
input[type="submit"] {
  cursor: pointer;
  transition-duration: $transition-speed;
  transition-property: color, background-color, border, opacity;

  &:focus {
    outline: none;
  }
}
