/*
** Common - Icons
** -----------------------------------------------------------------------------*/

@font-face {
  font-family: 'iconfont';
  src: font('iconfont.woff') format('woff'),font('iconfont.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow-left::before {
  content: '\EA01';
}

.icon_arrow-right::before {
  content: '\EA02';
}

.icon_arrow-up::before {
  content: '\EA03';
}

.icon_arrow::before {
  content: '\EA04';
}

.icon_clock::before {
  content: '\EA05';
}

.icon_close::before {
  content: '\EA06';
}

.icon_collection::before {
  content: '\EA07';
}

.icon_facebook::before {
  content: '\EA08';
}

.icon_flickr::before {
  content: '\EA09';
}

.icon_google::before {
  content: '\EA0A';
}

.icon_instagram::before {
  content: '\EA0B';
}

.icon_link::before {
  content: '\EA0C';
}

.icon_linkedin::before {
  content: '\EA0D';
}

.icon_pinterest::before {
  content: '\EA0E';
}

.icon_pocket::before {
  content: '\EA0F';
}

.icon_producthunt::before {
  content: '\EA10';
}

.icon_reddit::before {
  content: '\EA11';
}

.icon_search::before {
  content: '\EA12';
}

.icon_tag::before {
  content: '\EA13';
}

.icon_twitter::before {
  content: '\EA14';
}

.icon_view::before {
  content: '\EA15';
}

.icon_vimeo::before {
  content: '\EA16';
}

.icon_youtube::before {
  content: '\EA17';
}
