/*
** Common - Icons
** -----------------------------------------------------------------------------*/

@font-face {
  font-family: 'iconfont';
  src: font('iconfont.woff') format('woff'),font('iconfont.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow-down::before {
  content: '\EA01';
}

.icon_arrow-left::before {
  content: '\EA02';
}

.icon_arrow-right::before {
  content: '\EA03';
}

.icon_arrow-up::before {
  content: '\EA04';
}

.icon_chevron-down::before {
  content: '\EA05';
}

.icon_chevron-left::before {
  content: '\EA06';
}

.icon_chevron-right::before {
  content: '\EA07';
}

.icon_chevron-up::before {
  content: '\EA08';
}

.icon_clock::before {
  content: '\EA09';
}

.icon_close::before {
  content: '\EA0A';
}

.icon_collections::before {
  content: '\EA0B';
}

.icon_corner-down-left::before {
  content: '\EA0C';
}

.icon_corner-down-right::before {
  content: '\EA0D';
}

.icon_corner-left-down::before {
  content: '\EA0E';
}

.icon_corner-left-up::before {
  content: '\EA0F';
}

.icon_corner-right-down::before {
  content: '\EA10';
}

.icon_corner-right-up::before {
  content: '\EA11';
}

.icon_corner-up-left::before {
  content: '\EA12';
}

.icon_corner-up-right::before {
  content: '\EA13';
}

.icon_external-link::before {
  content: '\EA14';
}

.icon_eye::before {
  content: '\EA15';
}

.icon_heart::before {
  content: '\EA16';
}

.icon_link::before {
  content: '\EA17';
}

.icon_search::before {
  content: '\EA18';
}

.icon_social-discord::before {
  content: '\EA19';
}

.icon_social-facebook::before {
  content: '\EA1A';
}

.icon_social-flickr::before {
  content: '\EA1B';
}

.icon_social-google::before {
  content: '\EA1C';
}

.icon_social-indiehackers::before {
  content: '\EA1D';
}

.icon_social-instagram::before {
  content: '\EA1E';
}

.icon_social-linkedin::before {
  content: '\EA1F';
}

.icon_social-medium::before {
  content: '\EA20';
}

.icon_social-pinterest::before {
  content: '\EA21';
}

.icon_social-pocket::before {
  content: '\EA22';
}

.icon_social-producthunt::before {
  content: '\EA23';
}

.icon_social-reddit::before {
  content: '\EA24';
}

.icon_social-telegram::before {
  content: '\EA25';
}

.icon_social-twitter::before {
  content: '\EA26';
}

.icon_social-vimeo::before {
  content: '\EA27';
}

.icon_social-youtube::before {
  content: '\EA28';
}

.icon_tag::before {
  content: '\EA29';
}

.icon_thumbs-down::before {
  content: '\EA2A';
}

.icon_thumbs-up::before {
  content: '\EA2B';
}
