/*
** Common - Layout
** -----------------------------------------------------------------------------*/

.body-bag {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container .container {
  padding-left: 0;
  padding-right: 0;
}

// Theme Check issues
.sticky,
.gallery-caption,
.bypostauthor {
  visibility: visible;
}
