/*
** Common - Layout
** -----------------------------------------------------------------------------*/

.body-bag {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.row_separated {
  margin-top: -($separator * 2);

  > .column {
    margin-top: ($separator * 2);
  }
}
