/*
** Blocks / Code
** ----------------------------------------------------------------------------- */

.wp-block-code {
  padding: 1em 1.25em;
  background-color: var(--chipmunk--color--section);
  border: 1px solid var(--chipmunk--color--gray-light);
  border-radius: var(--chipmunk--border-radius);
}
