/*
** Component - Menu primary
** ----------------------------------------------------------------------------- */

.c-menu-primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25em spacer-clamped(2);

  > .menu-item {
    > a {
      display: block;

      &:hover {
        opacity: 0.8;
      }
    }

    &.current-menu-item > a,
    &.current-menu-ancestor > a,
    &.current-page-ancestor > a {
      color: var(--chipmunk--color--black);
    }
  }

  // Menu item
  .menu-item {
    &.menu-item-has-children {
      position: relative;

      > a {
        &::after {
          content: '';
          display: inline-block;
          height: 0.35em;
          width: 0.35em;
          margin-left: 0.5em;
          border-style: solid;
          border-width: 0.075em 0.075em 0 0;
          vertical-align: 0.25em;
          opacity: 0.5;
          transform: rotate(135deg);
        }
      }
    }
  }

  // Sub menus
  .sub-menu {
    min-width: 17.5rem;
    max-width: 20rem;

    .menu-item {
      > a {
        @extend %dropdown-link;

        &::after {
          position: absolute;
          top: 50%;
          right: 1em;
          margin-left: 0;
          margin-top: -0.25em;
          vertical-align: initial;
          transform: rotate(45deg);
        }
      }

      &.menu-item-has-children > a {
        padding-right: 2em;
      }
    }

    // Color themes
    &.theme-light {
      @include dropdown(1.5rem, 'light');
    }

    &.theme-dark {
      @include dropdown(1.5rem, 'dark');
    }
  }

  // Opened state
  .menu-item-has-children:hover > .sub-menu,
  .menu-item-has-children:focus > .sub-menu {
    @include dropdown-open;
  }
}
