/*
** Component - Menu mobile
** ----------------------------------------------------------------------------- */

.c-menu-mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;

  @include bp(md) {
    font-size: 1.125em;
  }

  > .menu-item {
    > a[href] {
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      &:hover {
        color: var(--chipmunk--color--black);
      }
    }

    &.current-menu-item > a,
    &.current-menu-ancestor > a,
    &.current-page-ancestor > a {
      color: var(--chipmunk--color--black);
    }
  }

  // Menu item
  .menu-item {
    position: relative;

    a {
      display: block;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }

    &.menu-item-has-children a {
      padding-right: calc(#{spacer-relative(1)} + 1em - 0.75em);
    }
  }

  .menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(#{spacer-relative(1)} + 1em);
    width: calc(#{spacer-relative(1)} + 1em);
    margin-right: -0.75em;
    opacity: 0.5;
    transition: transform var(--chipmunk--transition-duration);
  }

  // Sub menus
  .sub-menu {
    display: none;
    border-left: 1px solid var(--chipmunk--color--gray-lighter);

    .menu-item {
      margin-left: 1em;

      > a {
        position: relative;
        display: block;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .menu-toggle {
      height: calc(#{spacer-relative(1)} + 0.5em);
      width: calc(#{spacer-relative(1)} + 0.5em);
      margin-right: -0.5em;
    }
  }

  // Expanded
  .is-expanded {
    > .menu-toggle {
      transform: rotate(180deg);
    }

    > .sub-menu {
      display: block;
    }
  }
}
