/*
** Component - Overlay
** ----------------------------------------------------------------------------- */

.c-overlay {
  @extend %bordered-box;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: var(--chipmunk--layer--overlay);
  display: flex;
  max-height: calc(100dvh - var(--chipmunk--logo-height) - #{spacer-clamped(3)});
  background-color: var(--chipmunk--color--section);
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
  pointer-events: none;
  backface-visibility: hidden;
  transition: opacity, transform;
  transition-duration: 150ms;

  .has-nav-open & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }

  .container {
    height: 100%;
  }
}

.c-overlay__inner {
  @extend %container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: spacer-clamped(2);
  padding-bottom: spacer-clamped(2.5);
}

.c-overlay__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.c-overlay__bottom {
  padding-top: spacer-clamped(1.5);
}
