/*
** Component - Tile
** ----------------------------------------------------------------------------- */

$grid-columns: (
  sm: 1,
  md: 2,
  lg: 3,
);

.c-tile {
  display: flex;
  position: relative;
  transition: opacity var(--chipmunk--transition-duration);

  &--wide {
    grid-column: 1 / -1;
  }

  .flickity-enabled & {
    width: 100%;
    padding: calc(var(--chipmunk--layout--column-gutter) * 0.5);

    &:not(.c-tile--wide) {
      @include bp(md) {
        width: 50%;
      }

      @include bp(lg) {
        width: 33.333%;
      }
    }
  }

  .flickity-resize & {
    min-height: 100%;
  }
}

.c-tile__list {
  display: grid;
  gap: var(--chipmunk--layout--column-gutter);

  // Grid variants
  @each $breakpoint,
  $columns in $grid-columns {
    @include bp($breakpoint) {
      grid-template-columns: repeat($columns, 1fr);
    }
  }

  // Gap variants
  &--separated {
    row-gap: spacer-clamped(5);
  }

  // Alignment variants
  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &.flickity-enabled {
    display: block;
    width: calc(100% + var(--chipmunk--layout--column-gutter));
    margin: calc(var(--chipmunk--layout--column-gutter) * -0.5);
  }

  .flickity-viewport {
    transition: height 0s;
  }
}

.c-tile__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacer-fixed(1);
  width: 100%;
  overflow: hidden;

  &[href]:hover {
    opacity: 0.9;
  }

  .c-tile--card &,
  .c-tile--wide & {
    background-color: var(--chipmunk--color--section);
    border-radius: var(--chipmunk--border-radius);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .c-tile--wide & {
    @include bp(md) {
      gap: spacer-fixed(1.5);
      flex-direction: row;
    }
  }
}

.c-tile__image {
  position: relative;
  background-color: var(--chipmunk--color--gray-light);
  transition: opacity var(--chipmunk--transition-duration);

  &:not([class*='c-media--']) {
    aspect-ratio: 4 / 3;
  }

  >img,
  >svg,
  >video,
  >iframe {
    transition: transform var(--chipmunk--transition-duration) ease-in-out 0.05s;

    &:not(:first-child) {
      position: absolute;
      inset: 0;
    }

    &:nth-of-type(2) {
      transform: translateX(25%);

      [href]:hover & {
        transform: translateX(33.3%);
      }
    }

    &:nth-of-type(3) {
      transform: translateX(50%);

      [href]:hover & {
        transform: translateX(66.6%);
      }
    }
  }

  &[href]:hover {
    opacity: 0.9;
  }

  .c-tile--card &:not(:empty) {
    margin: var(--chipmunk--layout--tile-padding);
    margin-bottom: 0;
  }

  .c-tile--wide &:not(:empty) {
    margin: var(--chipmunk--layout--tile-padding);
    margin-bottom: 0;

    @include bp(md) {
      width: 40%;
      margin-bottom: var(--chipmunk--layout--tile-padding);
      margin-right: 0;
    }

    @include bp(lg) {
      width: 25%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--chipmunk--color--primary);
    opacity: 0.05;
  }
}

.c-tile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: spacer-fixed(1);
  flex: 1;
  padding: spacer-fixed(1);
  color: var(--chipmunk--color--black);

  @include bp(md) {
    padding: spacer-fixed(1.5);
  }

  &--dimmed {
    background-color: rgba(0 0 0 / 0.75);
    color: var(--chipmunk--color--white);
  }

  &--primary {
    background-color: var(--chipmunk--color--primary);
    color: var(--chipmunk--color--white);
  }

  .c-tile--tile & {
    position: absolute;
    inset: 0;
    z-index: var(--chipmunk--layer--base);
  }

  .c-tile--card &:not(:first-child) {
    padding-top: 0;

    @include bp(md) {
      padding: spacer-fixed(1);
      padding-top: 0;
    }
  }

  .c-tile--blank & {
    padding: 0;
  }

  .c-tile--wide &:not(:first-child) {
    padding-top: 0;

    @include bp(md) {
      padding: spacer-fixed(1.5);
      padding-left: 0;
    }
  }
}

.c-tile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.c-tile__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: spacer-fixed(0.75);
  width: 100%;
}

.c-tile__title {
  flex: 1;
  color: inherit;

  a {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }

  .c-tile--tile & {
    @include line-clamp(2);
  }
}

.c-tile__icon {
  margin: -0.15em;
  padding: 0.15em;
  opacity: 0.66;
  cursor: pointer;
  vertical-align: middle;
  transition: opacity var(--chipmunk--transition-duration);
  transform: translateY(0.5em);

  .u-icon {
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

.c-tile__copy {
  @include line-clamp(2);

  width: 100%;
  font-size: 0.875em;
  opacity: 0.85;

  .c-tile--card & {
    opacity: 1;
  }

  .c-tile--wide & {
    @include bp(md) {
      @include line-clamp(3);
    }

    @include bp(lg) {
      margin-right: 10%;
    }
  }
}

.c-tile__stats {
  margin-top: auto;

  .c-tile--wide & {
    .c-stats__item--upvotes {
      @include bp(md) {
        order: 99;
        margin-left: auto;
      }
    }
  }
}

.c-tile__button {
  align-self: start;

  [href]:hover &,
  &[href]:hover {
    background-color: var(--chipmunk--color--primary);
    border-color: transparent;
    color: var(--chipmunk--color--white);
  }
}

.c-tile__status {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: var(--chipmunk--layer--base);
  padding: 0.5em 0.75em;
  background-color: var(--chipmunk--color--gray);
  border-radius: var(--chipmunk--button--border-radius);
  color: var(--chipmunk--color--white);
  font-size: 0.75em;
  line-height: 1;

  &--publish {
    background-color: var(--chipmunk--color--status-success);
  }

  &--trash {
    background-color: var(--chipmunk--color--status-error);
  }
}
