/*
** Placeholders - Box
** ----------------------------------------------------------------------------- */

%bordered-box {
  position: relative;
  z-index: var(--chipmunk--layer--base);
  box-shadow: 0 1px 0 0 rgba(0 0 0 / var(--chipmunk--border-opacity)),
    0 -1px 0 0 rgba(0 0 0 / var(--chipmunk--border-opacity));
}
