/*
** Placeholders - Box
** -----------------------------------------------------------------------------*/

%bordered-box {
  position: relative;
  z-index: $layer-base;
  box-shadow: 0 1px 0 0 rgba($color-black, $border-opacity),
              0 -1px 0 0 rgba($color-black, $border-opacity);
}
