/*
** Placeholders - Content
** -----------------------------------------------------------------------------*/

%content-size {
  font-size: calc(#{map-get($content-type, font-size)} * 0.9);

  @include bp(lg) {
    font-size: map-get($content-type, font-size);
  }
}
