/*
** Placeholders - Heading
** -----------------------------------------------------------------------------*/

%heading {
  @include typography-properties($heading-type, (font-size, line-height));
}

$base-font-size: map-get($heading-type, font-size);
$base-font-size-scale: 1.33;

$base-line-height: map-get($heading-type, line-height);
$base-line-height-scale: 0.933;

$base-index: 4;
$base-responsive-scale: 0.875;

$base-breakpoints: (sm: 2, md: 1, lg: 0);

@for $i from 1 through 6 {
  $responsive-scale: pow($base-responsive-scale, (1 / $i));

  $font-size-scale: pow($base-font-size-scale, abs($i - $base-index));
  $line-height-scale: pow($base-line-height-scale, abs($i - $base-index));

  $font-size: #{$base-font-size} * #{$font-size-scale} / if($i <= $base-index, 1, pow($font-size-scale, 2));
  $line-height: #{$base-line-height} * #{$line-height-scale} / if($i <= $base-index, 1, pow($line-height-scale, 2));

  %heading-h#{$i} {
    line-height: calc(#{$line-height});

    @each $breakpoint, $scale in $base-breakpoints {
      @include breakpoint($breakpoint) {
        font-size: calc(#{$font-size} * #{pow($responsive-scale, $scale)});
      }
    }
  }
}
