/*
** Placeholders - Heading
** -----------------------------------------------------------------------------*/

%heading {
  color: $color-black;
  font-family: $font-heading;
  font-weight: bold;

  small {
    color: $color-gray;
  }

  .section--theme-primary & {
    color: inherit;
  }
}

%heading-sm {
  font-size: 1.6rem;
  line-height: 1.6;
}

%heading-md {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.025em;

  @include breakpoint(md) {
    font-size: 2.4rem;
  }
}

%heading-lg {
  font-size: 2.8rem;
  line-height: 1.3;

  @include breakpoint(md) {
    font-size: 3.6rem;
  }
}

%heading-xl {
  font-size: 3.2rem;
  line-height: 1.2;

  @include breakpoint(md) {
    font-size: 4.2rem;
  }

  @include breakpoint(lg) {
    font-size: 4.8rem;
  }
}

%heading-thin {
  font-weight: normal;
  font-size: 1.6rem;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }
}
