/*
** Placeholders - Link
** -----------------------------------------------------------------------------*/

%link {
  &:not([class]) {
    color: $color-gray;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

%link-transition {
  cursor: pointer;
  -webkit-user-drag: none;
  transition-duration: $transition-duration;
  transition-property: color, background, border, opacity, transform;
}
