/*
** Placeholders - Normalizer
** -----------------------------------------------------------------------------*/

%normalizer {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
}
