{% do action(get_theme_slug('before_resource_actions')) %}

{% if links | length %}
  <div class="c-resource__actions">
    {% for link in links %}
      {{ get_external_link(link.url, link.title, {
        class: 'c-resource__button ' ~ class('c-button', 'primary-outline'),
      }) }}
    {% endfor %}
  </div>
{% endif %}

{% do action(get_theme_slug('after_resource_actions')) %}
