{% if post.content and is_content_separated %}
  {% embed 'wrappers/section.twig' %}
    {% block content %}
      <div class="l-wrapper">
        <div class="c-entry__content {{ class('c-content', 'type') }}">
          {{ post.content }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endif %}
