{# TODO: Find a way to remove the whitespace from empty elements #}
{# End of .c-entry__content class #}
</div>

{% block content %}{% endblock %}

{# Beginning of .c-entry__content class #}
<div class="c-entry__content {{ cn('c-content', 'type') }}">
