{% if is_singular('resource') %}
  {% set posts = get_related(post.id) %}
{% endif %}

{% if is_singular('page') %}
  {% set title = post.title %}
{% elseif is_singular('resource') %}
  {% set title = __('Related', 'chipmunk') %}
{% endif %}

{% if posts or not is_singular('resource') %}
  <div class="l-section">
    <div class="l-container">
      <div class="l-component l-header">
        <h2 class="l-section__title {{ cn('c-heading', 'h4') }}">
          {{ title }}
        </h2>

        {% if not is_singular('resource') and posts %}
          {% include 'sections/filters.twig' %}
        {% endif %}

        {% if description %}
          <p class="l-header__copy">
            {{ description | striptags }}
          </p>
        {% endif %}

        {% if not posts %}
          <p class="l-header__copy">
            {{ __('Sorry, there are no resources to display yet.', 'chipmunk') }}
          </p>
        {% endif %}
      </div>

      {% if posts %}
        <div class="l-component">
          <div class="c-tile__list" data-action-element="load_posts">
            {% for post in posts %}
              {% include "tile/#{ post.type }.twig" %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% include 'sections/pagination.twig' with { pagination: posts.pagination } %}
    </div>
  </div>
{% endif %}
