{% if term_id %}
  {% set subterms = post.terms({ query: {
    taxonomy: 'resource-collection',
    parent: term_id,
    hide_empty: true,
  } }) %}

  <li class="{{ cn('c-stats__item', 'count-collections') }}" title="{{ __('Sub collections', 'chipmunk') }}">
    {% include 'partials/icon.twig' with { icon: 'collection' } only %}
    {{ subterms | length }}
  </li>
{% endif %}
