/*
** Variables - Buttons
** ----------------------------------------------------------------------------- */

body {
  --chipmunk--button--border-width: 1px;
  --chipmunk--button--border-radius: 100vmin;
  --chipmunk--button--font-size: 0.875em;
}
