/*
** Variables - Layers
** ----------------------------------------------------------------------------- */

body {
  --chipmunk--layer--negative: -1;
  --chipmunk--layer--neutral: 0;
  --chipmunk--layer--base: 1;
  --chipmunk--layer--utils: 5;
  --chipmunk--layer--dropdown: 15;
  --chipmunk--layer--overlay: 20;
  --chipmunk--layer--head: 25;
  --chipmunk--layer--top: 30;
  --chipmunk--layer--search: 35;
  --chipmunk--layer--popup: 40;
}
