/*
** Variables - Miscellaneous
** ----------------------------------------------------------------------------- */

body {
  // Transitions
  --chipmunk--transition-duration: 0.25s;

  // Spacers
  --chipmunk--spacer: 1.25em;

  // Borders
  --chipmunk--border-opacity: 0.075;
  --chipmunk--border-radius: 0.5rem;

  // Logo
  --chipmunk--logo-height: 4rem;
}
