<div class="section section_theme-white section_separated">
  <div class="container">
    <h3 class="heading heading_md">3 Comments</h3>

    <article class="comment" id="comment-1">
      <figure class="comment__image">
        <img alt="" src="http://placehold.it/40x40?text=+" class="avatar avatar-40 photo">
      </figure>
      <!-- /.comment__image -->

      <div class="comment__info">
        <h4 class="comment__title">Piotr Kulpinski</h4>
        <time class="comment__date"><a href="#comment-1">January 18, 2017 1:43 pm</a></time>

        <div class="comment__content">
          <p>This is just a sample comment to show you how it will look when someone comments on your site.</p>
        </div>

        <div class="comment__reply">
          <a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to Piotr Kulpinski">Reply</a>
        </div>
      </div>
    </article>

    <ul class="children">
      <article class="comment" id="comment-2">
        <figure class="comment__image">
          <img alt="" src="http://placehold.it/40x40?text=+" class="avatar avatar-40 photo">
        </figure>
        <!-- /.comment__image -->

        <div class="comment__info">
          <h4 class="comment__title">Piotr Kulpinski</h4>
          <time class="comment__date"><a href="#comment-2">January 18, 2017 1:43 pm</a></time>

          <div class="comment__content">
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          </div>

          <div class="comment__reply">
            <a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to Piotr Kulpinski">Reply</a>
          </div>
        </div>
      </article>
    </ul>
    <!-- .children -->

    <article class="comment" id="comment-3">
      <figure class="comment__image">
        <img alt="" src="http://placehold.it/40x40?text=+" class="avatar avatar-40 photo">
      </figure>
      <!-- /.comment__image -->

      <div class="comment__info">
        <h4 class="comment__title">Jan Wennesland</h4>
        <time class="comment__date"><a href="#comment-3">January 19, 2017 1:43 pm</a></time>

        <div class="comment__content">
          <p>Just another sample comment.</p>
        </div>

        <div class="comment__reply">
          <a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to Jan Wennesland">Reply</a>
        </div>
      </div>
    </article>

    <div class="comment-respond">
  		<h3 class="heading heading_md">Leave a Reply</h3>

      <form action="#" method="post" id="commentform" class="form">
        <div class="form__field">
          <textarea id="comment" name="comment" cols="45" rows="1" placeholder="Comment *" required aria-required='true' data-update-rows></textarea>
        </div>

        <div class="form__field">
          <div class="form__child">
            <input id="author" name="author" type="text" value="" size="30" placeholder="Name *" required aria-required='true' />
          </div>

          <div class="form__child">
            <input id="email" name="email" type="email" value="" size="30" placeholder="Email *" required aria-required='true' />
          </div>
        </div>

        <div class="form__field">
          <button name="submit" type="submit" id="submit" class="button button_secondary">Post Comment</button>
        </div>
      </form>
    </div><!-- #respond -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->
