<h3 class="heading heading--md">Curators</h3>

<div class="row">
  <div class="card column column--md-3 column--lg-4">
    <div class="card__image" style="background-image: url(http://placehold.it/600x420?text=Curator);"></div>

    <h4 class="card__title">Piotr Kulpiński</h4>
    <a href="#" target="_blank" class="card__handle">@piotrkulpinski</a>
  </div>

  <div class="card column column--md-3 column--lg-4">
    <div class="card__image" style="background-image: url(http://placehold.it/600x420?text=Curator);"></div>

    <h4 class="card__title">Jan Wennesland</h4>
    <a href="#" target="_blank" class="card__handle">@janwennesland</a>
  </div>
</div>
