<nav class="pagination">
  <div class="container">
    <ul class="pagination__nav">
      <li class="pagination__item pagination__item_disabled">
        <i class="icon icon_chevron-left" aria-hidden="true"></i>
        <span class="visible-md-inline">Previous</span>
      </li>

      <li class="pagination__title">Page 1 of 3</li>

      <li class="pagination__item">
        <a href="#">
          <span class="visible-md-inline">Next</span>
          <i class="icon icon_chevron-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.container -->
</nav>
<!-- /.pagination -->
