<nav class="pagination">
  <div class="container">
    <ul class="pagination__nav">
      <li class="pagination__item pagination__item--disabled">
        {% include '../partials/icon.twig' with { 'icon': 'chevron-left' } %}
        <span class="visible-md-inline">Previous</span>
      </li>

      <li class="pagination__title">Page 1 of 3</li>

      <li class="pagination__item">
        <a href="#" class="pagination__link">
          <span class="visible-md-inline">Next</span>
          {% include '../partials/icon.twig' with { 'icon': 'chevron-right' } %}
        </a>
      </li>
    </ul>
  </div>
  <!-- /.container -->
</nav>
<!-- /.pagination -->
