<div class="section section_theme-gray">
  <div class="container">
    {% if title %}
      <h3 class="section__title heading heading_md">{{ title }}</h3>
    {% endif %}

    <div class="row">
      {% set post = {
        title: 'Blog post title',
        content: 'Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio,...',
        excerpt: 'Turpis sem pretium praesent mus, vitae. Quis aliquet sem litora. Rhoncus hac lobortis. Etiam facilisis nullam nummy...',
        date: '18. Jan',
        categories: ['General', 'Photography']
      } %}

      {% for i in 1..posts %}
        {% if loop.index0 % 4 != 0 or posts == 3 %}
          {% include '../partials/post-tile.twig' with { post: post } %}
        {% else %}
          {% include '../partials/post-excerpt.twig' with { post: post } %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!-- /.container -->

  {% if showPagination %}
    {% include 'pagination.twig' %}
  {% endif %}
</div>
<!-- /.section -->
