<div class="section">
  <div class="container">
    <h2 class="section__title">Chipmunk — A WordPress Theme for Content Curation</h2>

    <div class="tabs" data-tabs role="tablist">
      <div class="tabs__title heading heading_md">
        <strong class="heading__link active" data-tabs-toggle role="tab">Featured</strong>
        <strong class="heading__link" data-tabs-toggle role="tab">Latest</strong>
        <strong class="heading__link visible-sm-inline-block" data-tabs-toggle role="tab">Popular</strong>
      </div>

      <div class="tabs__item active" data-tabs-panel role="tabpanel">
        <div class="tile__list" data-carousel>
          {% for i in 1..rows | default(1) %}
            {% set resources = ['Color Hunt', 'Canopy', 'Startup Stash'] %}

            {% for resource in resources %}
              <div class="tile__slider">
                {% include '../partials/resource-tile.twig' %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <!-- /.tile__list -->
      </div>
      <!-- /.tabs__item -->

      <div class="tabs__item" data-tabs-panel role="tabpanel">
        <div class="tile__list" data-carousel>
          {% for i in 1..rows | default(1) %}
            {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

            {% for resource in resources %}
              <div class="tile__slider">
                {% include '../partials/resource-tile.twig' %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <!-- /.tile__list -->
      </div>
      <!-- /.tabs__item -->

      <div class="tabs__item" data-tabs-panel role="tabpanel">
        <div class="tile__list" data-carousel>
          {% for i in 1..rows | default(1) %}
            {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

            {% for resource in resources %}
              <div class="tile__slider">
                {% include '../partials/resource-tile.twig' %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <!-- /.tile__list -->
      </div>
      <!-- /.tabs__item -->
    </div>
    <!-- /.tabs -->
  </div>
</div>
<!-- /.section -->
