<div class="section section_theme-white section_separated">
  <div class="container">
    <article class="resource">
      <div class="resource__content">
        <h2 class="resource__title headline headline_xl">Startup Stash</h2>
      </div>

      <aside class="resource__image">
        <img src="images/pic-resource-large-01.png" alt="" />
      </aside>
    </article>
    <!-- /.resource -->
  </div>
</div>
<!-- /.section -->
