<div class="section section_theme-gray">
  <div class="container" data-tabs role="tablist">
    <h3 class="heading heading_md">
      <span class="heading__link active" data-tabs-toggle role="tab">Featured</span>
      <span class="heading__link" data-tabs-toggle role="tab">Latest</span>
      <span class="heading__link visible-sm-inline-block" data-tabs-toggle role="tab">Popular</span>
    </h3>

    <div class="tab-content">
      <div class="tile__list tabs__item active" id="featured" data-tabs-panel data-resource-slider role="tabpanel">
        {% for i in 1..rows | default(1) %}
          {% set resources = ['Color Hunt', 'Canopy', 'Startup Stash'] %}

          {% for resource in resources %}
            <div class="tile__wrapper">
              {% include 'resource-item.twig' %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      <div class="tile__list tabs__item" id="latest" data-tabs-panel data-resource-slider role="tabpanel">
        {% for i in 1..rows | default(1) %}
          {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

          {% for resource in resources %}
            <div class="tile__wrapper">
              {% include 'resource-item.twig' %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      <div class="tile__list tabs__item" id="popular" data-tabs-panel data-resource-slider role="tabpanel">
        {% for i in 1..rows | default(1) %}
          {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

          {% for resource in resources %}
            <div class="tile__wrapper">
              {% include 'resource-item.twig' %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <!-- /.tab-content -->
  </div>

  {% if showPromo %}
    {% include 'promo.twig' %}
  {% endif %}
</div>
<!-- /.section -->
