<div class="section">
  <div class="container">
    {% if showDetails %}
      <div class="row row_center">
        <div class="column column--md-4 column--lg-8">
          <h1 class="heading heading_md">{{ title }}</h1>
          <p class="text_content text_subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui.</p>
        </div>

        {% include '../partials/filters.twig' %}
      </div>
    {% else %}
      <h3 class="heading heading_md">{{ title }}</h3>
    {% endif %}

    {% for i in 1..rows | default(1) %}
      <div class="row">
        {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

        {% for resource in resources %}
          {% include '../partials/resource-tile.twig' with { column: true } %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  {% if showPagination %}
    {% include 'pagination.twig' %}
  {% endif %}
</div>
<!-- /.section -->
