<div class="section section_theme-white section_separated section_compact">
  <div class="container">
    <div class="toolbox">
      <div class="toolbox__share">
        <nav class="nav-socials">
          <h4 class="nav-socials__title headline headline_thin">Follow us</h4>
          <ul>
            <li class="nav-socials__item"><a href="#" title="Twitter"><i class="icon icon_twitter"></i><span class="sr-only">Twitter</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Facebook"><i class="icon icon_facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Google+"><i class="icon icon_google"></i><span class="sr-only">Google+</span></a></li>
            <li class="nav-socials__item"><a href="#" title="YouTube"><i class="icon icon_youtube"></i><span class="sr-only">YouTube</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Instagram"><i class="icon icon_instagram"></i><span class="sr-only">Instagram</span></a></li>
            <li class="nav-socials__item"><a href="#" title="Pinterest"><i class="icon icon_pinterest"></i><span class="sr-only">Pinterest</span></a></li>
          </ul>
        </nav>
        <!-- /.nav-socials -->
      </div>

      <div class="toolbox__cta visible-md-flex">
        <p class="headline headline_thin visible-lg-block">Internet is huge! Help us find great content</p>
        <a href="#" class="toolbox__button button button_primary">Submit</a>
      </div>
    </div>
    <!-- /.toolbox -->
  </div>
</div>
<!-- /.section -->
