/*
** Setup - Mixins
** -----------------------------------------------------------------------------*/

/*
** Bordered box
**/
@mixin bordered-box() {
  position: relative;
  z-index: $layer-base;
  box-shadow: 0 1px 0 0 rgba($color-black, 0.075),
              0 -1px 0 0 rgba($color-black, 0.075);
}

/*
** Add loading indicator
**/
@mixin loader($size: 1em) {
  &.is-loading {
    position: relative;

    > span {
      color: transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-top: -($size / 2);
      margin-left: -($size / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      border-color: currentColor transparent transparent;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px transparent;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
    }
  }
}
