/*
** Setup - Mixins
** -----------------------------------------------------------------------------*/

// Calculates column fraction width
//
// @param {Number} $fraction  - Size of the column
// @param {Number} $columns   - Number of the columns
// @param {Boolean} $negative - Is value returned negative
// @param {Unit} $addition    - Extra space to add to the value
@function column($fraction, $columns, $negative: false, $addition: 0px) {
  $gutters: (6: 1, 8: 0.5, 10: 0.25);

  @if $fraction > 1 {
    @return calc(#{$fraction} * 100% + #{$grid-column-gutter * map-get($gutters, $columns)});
  }
  @else {
    @return calc(((#{$fraction} * (100% + #{$grid-column-gutter})) * #{if($negative, -1, 1)}) + #{$addition});
  }
}


// Adds negative margins to the element
@mixin negative-margins($properties, $columns: 12, $breakpoint: lg) {
  @include breakpoint($breakpoint) {
    @each $layout in $grid-layouts {
      .column--lg-#{$layout}[class*="offset"] & {
        @if (index($properties, width)) {
          width: column($columns / $layout, $layout, false);
        }
        @if (index($properties, max-width)) {
          max-width: column((($columns - $layout) / 2) / $layout, $layout, false, 50%);
        }
        @if (index($properties, margin-left) or index($properties, margin)) {
          margin-left: column((($columns - $layout) / 2) / $layout, $layout, true);
        }
        @if (index($properties, margin-right) or index($properties, margin)) {
          margin-right: column((($columns - $layout) / 2) / $layout, $layout, true);
        }
      }
    }
  }
}


// Add negative spacing to make the element full width
//
// @param {Unit} $container  - Size of the container
@mixin full-width($container: 0px) {
  width: calc(100vw - #{$container * 2});
  margin-left: calc(50% - (50vw - #{$container}));
  margin-right: calc(50% - (50vw - #{$container}));
}


// Dropdown
@mixin dropdown() {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: $layer-dropdown;
  padding: 0.25em 1em;
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  box-shadow: 0 1px 2px 1px rgba($color-black, 0.05);
  font-size: 0.9em;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transform: translate3d(-50%, 2rem, 0);
  transition: opacity $transition-duration, transform $transition-duration;

  &--left,
  &--right {
    transform: translate3d(0, 2rem, 0);
  }

  &--left {
    left: 0;
    text-align: left;
  }

  &--right {
    left: auto;
    right: 0;
    text-align: right;
  }
}


// Dropdown open
@mixin dropdown-open($center: false) {
  opacity: 1;
  pointer-events: all;

  @if ($center) {
    transform: translate3d(-50%, 0, 0);
  }
  @else {
    transform: translate3d(0, 0, 0);
  }
}


// Loading indicator
@mixin loader($size: 1em) {
  > span {
    transition: opacity $transition-duration;
  }

  &.is-loading {
    position: relative;

    > span {
      opacity: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-top: -($size / 2);
      margin-left: -($size / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      border-color: currentColor transparent transparent;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px transparent;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
    }
  }
}


// Gets typography properties
@mixin typography-properties($typography, $excluded: null) {
  $properties: color, font-family, font-size, font-weight, font-style, line-height, letter-spacing, text-transform;

  @each $property in $properties {
    @if map-has-key($typography, $property) and not index($excluded, $property) {
      #{$property}: map-get($typography, $property);
    }
  }
}


// A helper for the spacing mixing
@mixin _spacer($size, $direction, $property, $scale, $spacer) {
  $spacer-breakpoints: (sm: 2, md: 1, lg: 0);

  @if $scale >= 1 {
    #{$property}-#{$direction}: calc(#{$spacer} * #{$size});
  }
  @else {
    @each $breakpoint, $breakpoint-scale in $spacer-breakpoints {
      @include breakpoint($breakpoint) {
        #{$property}-#{$direction}: calc(#{$spacer} * #{$size * (1 - ($scale * $breakpoint-scale))});
      }
    }
  }
}


// Adds flexible spacer to the element
@mixin spacer($size: 1, $direction: 'top', $property: 'margin', $scale: 0.25, $spacer: $spacer) {
  @if ($property == 'margin' and $size > 0 and index(top bottom, $direction)) {
    &:not(:#{if('top' == $direction, first, last)}-child) {
      @include _spacer($size, $direction, $property, $scale, $spacer);
    }
  }

  @else {
    @include _spacer($size, $direction, $property, $scale, $spacer);
  }
}


// Adds font-size relative spacer to the element
@mixin spacer-relative($size: 1, $direction: 'top', $property: 'margin', $scale: 1) {
  @include spacer($size, $direction, $property, $scale, calc(#{map-get($content-type, line-height)} * 1em));
}


// Adds fixed spacer to the element
@mixin spacer-fixed($size: 1, $direction: 'top', $property: 'margin') {
  @include spacer($size, $direction, $property, 1);
}