/*
** Setup - Mixins
** -----------------------------------------------------------------------------*/

/*
** Bordered box
**/
@mixin bordered-box() {
  position: relative;
  z-index: $layer-base;
  box-shadow: 0 1px 0 0 rgba($color-black, 0.075),
              0 -1px 0 0 rgba($color-black, 0.075);
}

/*
** Add loading indicator
**/
@mixin loader($size: 1em) {
  > span {
    transition: opacity $transition-duration;
  }

  &.is-loading {
    position: relative;

    > span {
      opacity: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-top: -($size / 2);
      margin-left: -($size / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      border-color: currentColor transparent transparent;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px transparent;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
    }
  }
}

/*
** Add spacing to the section
**/
@mixin spacer($direction, $size: 1, $property: 'margin') {
  @if ($property == 'margin' and $size >= 0) {
    &:not(:#{if($direction == top, first, last)}-child) {
      #{$property}-#{$direction}: ($font-line-height * 1em);

      @if ($size > 1) {
        @include breakpoint(md) {
          #{$property}-#{$direction}: ($font-line-height * 1em * (($size + 1) / 2));
        }

        @include breakpoint(lg) {
          #{$property}-#{$direction}: ($font-line-height * 1em * $size);
        }
      }
    }
  }

  @else {
    #{$property}-#{$direction}: ($font-line-height * 1em);

    @if ($size > 1) {
      @include breakpoint(md) {
        #{$property}-#{$direction}: ($font-line-height * 1em * (($size + 1) / 2));
      }

      @include breakpoint(lg) {
        #{$property}-#{$direction}: ($font-line-height * 1em * $size);
      }
    }
  }
}
