/*
** Setup - Variables
** -----------------------------------------------------------------------------*/

// Color definitions
$color-primary:         #F38181 !default;
$color-black:           #333333 !default;
$color-gray:            #333333 !default;
$color-gray-light:      #808080 !default;
$color-gray-lighter:    #E6E6E6 !default;
$color-gray-lightest:   #FAFAFA !default;
$color-white:           #FFFFFF !default;

// Z-indexes
$zindex-negative:       -1 !default;
$zindex-neutral:        0 !default;
$zindex-base:           1 !default;

// Font definitions
$font-poppins:          'Poppins', 'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;

$font-color:            $color-black !default;
$font-family:           $font-poppins !default;
$font-size:             1.6em !default;
$font-line-height:      1.875 !default;

// Base path for assets
$base-path:             '..' !default;

// Grid definitions
$breakpoints: (
  xs: (
    min-width: 0,
    container: 450px,
    gutter: 20px,
    columns: 2
  ),
  sm: (
    min-width: 490px,
    gutter: 20px,
    columns: 4
  ),
  md: (
    min-width: 680px,
    container: 640px,
    gutter: 20px,
    columns: 6
  ),
  lg: (
    min-width: 1000px,
    container: 960px,
    gutter: 20px,
    columns: 12
  )
) !default;
