/*
** Setup - Variables
** -----------------------------------------------------------------------------*/

// Color definitions
$color-accent:          #F38181 !default;
$color-black:           #333333 !default;
$color-gray-dark:       #666666 !default;
$color-gray:            #808080 !default;
$color-gray-light:      #CDCDCD !default;
$color-gray-lighter:    #E6E6E6 !default;
$color-gray-lightest:   #EDEDED !default;
$color-white:           #FAFAFA !default;

$color-status-success:  #4F8A10 !default;
$color-status-warning:  #9F6000 !default;
$color-status-info:     #369BF8 !default;
$color-status-error:    #F74444 !default;

// Z-indexes
$layer-negative:        -1 !default;
$layer-neutral:         0 !default;
$layer-base:            1 !default;
$layer-utils:           5 !default;
$layer-dropdown:        15 !default;
$layer-overlay:         20 !default;
$layer-head:            25 !default;
$layer-top:             30 !default;
$layer-search:          35 !default;
$layer-popup:           40 !default;

// Font definitions
$font-serif:            Georgia,Times,"Times New Roman",serif !default;
$font-sans-serif:       -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-poppins:          'Poppins', 'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;
$font-mono:             Menlo, Consolas, monaco, monospace !default;

// Dimensions
$head-height:           4rem !default;

// Others
$transition-duration:   0.15s !default;

// Base path for assets
$base-path:             '..' !default;
$base-spacing:          1.75em !default;

// Spacing
$spacer:                2rem !default;
$spacers:               (
  1:                      ($spacer * 1),
  2:                      ($spacer * 1.5),
  3:                      ($spacer * 2)
) !default;

// Responsive display values
$display-values:        (
  inline,
  inline-block,
  block,
  flex,
) !default;

// Grid settings
$grid-layouts:          (6, 8, 10) !default;
$grid-column-gutter:    2.4rem !default;
$grid-container-gutter: 2.4rem !default;

// Grid definitions
$grid-breakpoints: (
  sm: (
    min-width: 0,
    container: 450px,
    container-gutter: $grid-container-gutter,
    gutter: $grid-column-gutter,
    columns: 4
  ),
  md: (
    min-width: 680px,
    container: 640px,
    container-gutter: $grid-container-gutter,
    gutter: $grid-column-gutter,
    columns: 6
  ),
  lg: (
    min-width: 980px,
    container: 980px,
    container-gutter: $grid-container-gutter,
    gutter: $grid-column-gutter,
    columns: 12
  )
) !default;

// Customizable colors
$color-primary:           var(--chipmunk-color-primary, #{$color-accent}) !default;
$color-link:              var(--chipmunk-color-link, #{$color-accent}) !default;
$color-background:        var(--chipmunk-color-background, #{$color-gray-lightest}) !default;
$color-section:           var(--chipmunk-color-section, #{$color-white}) !default;

// Customizable type
$body-type:               (
  color:                    var(--chipmunk-body-color, #{$color-gray-dark}),
  font-family:              var(--chipmunk-body-font-family, #{$font-sans-serif}),
  font-size:                var(--chipmunk-body-font-size, 1.6rem),
  line-height:              var(--chipmunk-body-line-height, 1.75),
  letter-spacing:           var(--chipmunk-body-letter-spacing, 0px),
  text-transform:           var(--chipmunk-body-text-transform, none),
  font-weight:              var(--chipmunk-body-font-weight, 400),
  font-style:               var(--chipmunk-body-font-style, normal)
) !default;

$heading-type:            (
  color:                    var(--chipmunk-heading-color, #{$color-black}),
  font-family:              var(--chipmunk-heading-font-family, #{$font-sans-serif}),
  font-size:                var(--chipmunk-heading-font-size, 2.2rem),
  line-height:              var(--chipmunk-heading-line-height, 1.4),
  letter-spacing:           var(--chipmunk-heading-letter-spacing, 0px),
  text-transform:           var(--chipmunk-heading-text-transform, none),
  font-weight:              var(--chipmunk-heading-font-weight, 700),
  font-style:               var(--chipmunk-heading-font-style, normal)
) !default;

$content-type:            (
  color:                    var(--chipmunk-content-color, #{$color-black}),
  font-family:              var(--chipmunk-content-font-family, #{$font-sans-serif}),
  font-size:                var(--chipmunk-content-font-size, 2.1rem),
  line-height:              var(--chipmunk-content-line-height, 1.75),
  letter-spacing:           var(--chipmunk-content-letter-spacing, 0px),
  text-transform:           var(--chipmunk-content-text-transform, none),
  font-weight:              var(--chipmunk-content-font-weight, 400),
  font-style:               var(--chipmunk-content-font-style, normal)
) !default;

// Customizable variables
$border-opacity:          var(--chipmunk-border-opacity, 0.075) !default;
$logo-height:             var(--chipmunk-logo-height, 4rem) !default;
