/*
** Setup - Variables
** -----------------------------------------------------------------------------*/

// Color definitions
$color-primary:         #F38181 !default;
$color-black:           #333333 !default;
$color-gray-dark:       #666666 !default;
$color-gray:            #808080 !default;
$color-gray-light:      #CDCDCD !default;
$color-gray-lighter:    #E6E6E6 !default;
$color-gray-lightest:   #EDEDED !default;
$color-white:           #FAFAFA !default;

$color-status-success:  #4F8A10 !default;
$color-status-warning:  #9F6000 !default;
$color-status-info:     #00529B !default;
$color-status-error:    #F74444 !default;

// Z-indexes
$layer-negative:        -1 !default;
$layer-neutral:         0 !default;
$layer-base:            1 !default;
$layer-utils:           5 !default;
$layer-head:            10 !default;
$layer-nav:             15 !default;
$layer-dropdown:        20 !default;
$layer-popup:           25 !default;

// Font definitions
$font-poppins:          'Poppins', 'Arial', 'Helvetica Neue', Helvetica, sans-serif !default;
$font-color:            $color-gray !default;
$font-family:           $font-poppins !default;
$font-size:             1.6em !default;
$font-line-height:      1.875 !default;

// Others
$separator:             2rem !default;
$transition-duration:   0.25s !default;

// Base path for assets
$base-path:             '..' !default;

// Grid container
$grid-container-gutter: 1.5em !default;

// Grid definitions
$grid-breakpoints: (
  xs: (
    min-width: 0,
    container: 450px,
    gutter: 1.5em,
    columns: 4
  ),
  sm: (
    min-width: 490px,
    gutter: 1.5em,
    columns: 6
  ),
  md: (
    min-width: 680px,
    container: 640px,
    gutter: 1.5em,
    columns: 6
  ),
  lg: (
    min-width: 980px,
    container: 940px,
    gutter: 1.5em,
    columns: 12
  )
) !default;
