/*
** Admin / Addons
** ----------------------------------------------------------------------------- */

.chipmunk__addons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1.5em, 2.5vw, 3em);
}

.chipmunk__addons-item {
  gap: 1.5em;
  padding: 1.5em;
}

.chipmunk__addons-title {
  margin: 0;
}
