/*
** Admin / Addons
** ----------------------------------------------------------------------------- */

.chipmunk__addons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1.5em, 2.5vw, 3em);
}

.chipmunk__addons-item {
  align-items: flex-start;
  gap: 1.5em;
  padding: 1.5em;
}

.chipmunk__addons-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

.chipmunk__addons-title {
  margin: 0;
}

.chipmunk__addons-excerpt a {
  white-space: nowrap;
}

.chipmunk__addons-cta {
  margin-top: auto;
}

.chipmunk__addons-error,
.chipmunk__addons-warning {
  display: flex;
  align-items: center;
  gap: 1em;
}

.chipmunk__addons-error {
  color: var(--chipmunk--color--status-error) !important;
}

.chipmunk__addons-warning {
  color: var(--chipmunk--color--status-warning) !important;
}