/*
** Admin / Layout
** ----------------------------------------------------------------------------- */

.chipmunk {
  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  ul,
  ol,
  li,
  table {
    &:not([class]) {
      margin: 0;
      padding: 0;
      color: inherit;
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: inherit;
  }

  table.form-table,
  p.submit {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }

  .notice + & {
    margin-top: 1.5rem;
  }
}

.chipmunk__wrap {
  width: 100%;
  padding-right: clamp(1.5em, 2.5vw, 3em);
  padding-left: clamp(1.5em, 2.5vw, 3em);
}

.chipmunk__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--chipmunk--color--primary);
  color: var(--chipmunk--color--white);

  .wrap {
    width: 100%;
    margin: 0 !important;
    color: var(--chipmunk--color--black);
  }

  .notice {
    margin: 0 !important;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-radius: 0.25rem;
    border-top: 0;
    border-bottom: 0;
  }

  h2 + .notice {
    margin-top: 2rem !important;
  }

  .notice:not(:first-of-type) {
    margin-top: 1em !important;
  }
}

.chipmunk__title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  color: inherit;

  svg,
  img {
    fill: currentColor;
    height: 1em;
    width: 1em;
    font-size: 1.25em;
  }

  > span {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate3d(-25%, -50%, 0);
  }
}

.chipmunk__settings {
  padding-top: 3em;
  padding-bottom: 3em;
}

.chipmunk__head,
.chipmunk__main {
  padding-top: 3em;
  padding-bottom: 3em;
}

.chipmunk__main {
  .notice {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 3em;
    }

    p {
      margin: 0.75em 0;
    }
  }

  h1,
  h2 {
    line-height: 1.5;
  }
}
