/*
** Admin / Layout
** ----------------------------------------------------------------------------- */

.chipmunk {
  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  ul,
  ol,
  li,
  table {
    &:not([class]) {
      margin: 0;
      padding: 0;
      color: inherit;
    }
  }

  table.form-table,
  p.submit {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    outline: none;
  }
}

.chipmunk__wrap {
  width: 100%;
  padding-right: clamp(1.5em, 2.5vw, 2.5em);
  padding-left: clamp(1.5em, 2.5vw, 2.5em);
}

.chipmunk__head-wrap {
  background-color: var(--chipmunk--color--green);
  color: var(--chipmunk--color--black);

  .notice {
    margin: 0 0 2em;
  }
}

.chipmunk__title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  color: inherit;

  svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
    font-size: 1.25em;
  }

  > span {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate3d(-25%, -50%, 0);
  }
}

.chipmunk__head-wrap,
.chipmunk__main {
  padding-top: 2em;
  padding-bottom: 2em;
}

.chipmunk__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chipmunk__logo {
  padding: 0.4em;
  background-color: var(--chipmunk--color--white);
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.chipmunk__main {
  .notice {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 3em;
    }

    p {
      margin: 0.75em 0;
      padding: 0;
      color: inherit;
    }
  }

  h1,
  h2,
  h3 {
    line-height: 1.5;
  }
}

.toplevel_page_chipmunk #wpbody-content > .notice {
  display: none;
}
