/*
** Admin / Status
** ----------------------------------------------------------------------------- */

.chipmunk__status {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-top: -1.25em;
  margin-bottom: -1.25em;
  padding: 0.75em 1em;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #333;
}

.chipmunk__status-content {
  max-width: 16rem;
}

.chipmunk__status-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--chipmunk--color--status-success);
  border-radius: 50%;
  color: var(--chipmunk--color--white);
}