.chipmunk-fields {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: -6px -12px -12px;
}

.chipmunk-field {
  margin: 0;
  padding: 15px 12px;
  border-top: #EEEEEE solid 1px;
  position: relative;
  clear: left;
}

.chipmunk-field:first-of-type {
  border-top: 0;
}

.chipmunk-field .chipmunk-label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0 0 10px;
}

.chipmunk-field .chipmunk-label p {
  color: #777777;
  display: block;
  font-size: 12px;
  line-height: 1.4em;
  font-style: normal;
  margin: 3px 0 0 !important;
  padding: 0 !important;
}

.chipmunk-field .chipmunk-input {
  vertical-align: top;
}

.description:not(:last-child) {
  margin-bottom: 1em;
}

/* Licences */
.chipmunk-wrap-licenses .form-table,
.chipmunk-wrap-licenses thead,
.chipmunk-wrap-licenses tbody,
.chipmunk-wrap-licenses tfoot,
.chipmunk-wrap-licenses tr,
.chipmunk-wrap-licenses td,
.chipmunk-wrap-licenses th,
.chipmunk-wrap-licenses caption {
  display: block;
}

.chipmunk-wrap-licenses .form-table {
  margin-top: 1.5em;
}

.chipmunk-wrap-licenses .form-table * {
  box-sizing: border-box;
}

.chipmunk-wrap-licenses .form-table tbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -1em -0.5em 0;
}

@media screen and ( min-width: 600px ) {
  .chipmunk-wrap-licenses .form-table tbody {
		flex-direction: row;
	}
}

.chipmunk-wrap-licenses .form-table tr {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1em);
  margin: 1em 0.5em 0;
  background: #fff;
  border: 1px solid #ccc;
  position: relative;
}

@media screen and ( min-width: 600px ) {
  .chipmunk-wrap-licenses .form-table tr {
    width: calc(50% - 1em);
	}
}

@media screen and ( min-width: 1100px ) {
  .chipmunk-wrap-licenses .form-table tr {
    width: calc(33.3% - 1em);
	}
}

.chipmunk-wrap-licenses .form-table th {
  background: #f9f9f9;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  width: auto;
}

.chipmunk-wrap-licenses .form-table td {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
}

.chipmunk-wrap-licenses td input.regular-text {
  width: 100%;
  margin: 0;
}

.chipmunk-wrap-licenses td input.regular-text:not(:last-child) {
  margin-bottom: 0.5em;
}

.chipmunk-wrap-licenses .chipmunk-license {
  padding: 1em;
}

.chipmunk-wrap-licenses .chipmunk-license-data {
  background: #fafafa;
  padding: 1em;
  border-top: 1px solid #eee;
}

.chipmunk-wrap-licenses .chipmunk-license-data a {
  color: #444;
}

.chipmunk-wrap-licenses .chipmunk-license-data a:hover {
  text-decoration: none;
}

.chipmunk-wrap-licenses .chipmunk-license-data.license-expires-soon-notice {
  background-color: #00a0d2;
  color: #fff;
  border-color: #00a0d2;
}

.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-expired {
  background-color: #e24e4e;
  color: #fff;
  border-color: #e24e4e;
}

.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-error,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-missing,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-invalid,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-site_inactive,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-item_name_mismatch {
  background-color: #ffebcd;
  border-color: #ffebcd;
}

.chipmunk-wrap-licenses .chipmunk-license-data p {
  font-size: 13px;
  margin-top: 0;
}

.chipmunk-wrap-licenses .chipmunk-license-data.license-expires-soon-notice a,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-expired a {
  color: #fff;
}

.chipmunk-wrap-licenses .chipmunk-license-data.license-expires-soon-notice a:hover,
.chipmunk-wrap-licenses .chipmunk-license-data.chipmunk-license-expired a:hover {
  text-decoration: none;
}

.chipmunk-wrap-licenses p.submit {
  clear: both;
}
