/*!
 ** Project:      Chipmunk Theme
 ** Project URI:  https://chipmunktheme.com
 ** Author:       Made by Less
 ** Author URI:   https://madebyless.com
 * ------------------------------------ */

@import 'tools/*';
@import 'variables/*';
@import 'placeholders/*';
@import 'admin/*';

.toplevel_page_chipmunk #wpcontent {
  padding-left: 0;
}
