/*!
** Project: Chipmunk Theme
** Author: Piotr Kulpinski, Jan Wennesland
** --------------------------------
**/

@import 'setup/variables';

// Vendor dependencies
@import 'bespoke-toolkit/styles/toolkit';
@import 'select2/src/scss/core';

@import 'setup/mixins';
@import 'setup/animations';
@import 'setup/placeholders';
@import 'setup/normalize';

@import 'common/*';
@import 'vendor/*';
@import 'utils/*';
@import 'modules/*';
@import 'blocks/*';
@import 'plugins/*';
