/*!
** Project:      Chipmunk Theme
** Project URI:  https://chipmunktheme.com
** Author:       Made by Less
** Author URI:   https://madebyless.com
** -------------------------------------------------------------------------- */

@import 'setup/variables';
@import 'setup/animations';

// Tools
@import 'tools/align';
@import 'tools/breakpoints';
@import 'tools/cover';
@import 'tools/dropdown';
@import 'tools/line-clamp';
@import 'tools/loader';
@import 'tools/spacers';
@import 'tools/typography';

// Placeholders
@import 'placeholders/box';
@import 'placeholders/button';
@import 'placeholders/caption';
@import 'placeholders/container';
@import 'placeholders/copy';
@import 'placeholders/form';
@import 'placeholders/heading';
@import 'placeholders/link';

// Admin
@import 'admin/addons';
@import 'admin/box';
@import 'admin/grid';
@import 'admin/layout';
@import 'admin/license';
@import 'admin/nav';
@import 'admin/status';

.toplevel_page_chipmunk #wpcontent {
  padding-left: 0;
}

[id*='accordion-section-title'] {
  margin-top: 1.5rem;
}
