{% if collections | length %}
  <div class="{{ class('l-component', spacer ?? 'sm') }}">
    <div class="c-tile__list">
      {% for collection in collections %}
        {% include 'content/tile/collection.twig' %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <p class="l-header__copy l-component">
    {{ __('Sorry, there are no collections to display yet.', 'chipmunk') }}
  </p>
{% endif %}
