{% set collections = get_terms({
  taxonomy: 'resource-collection',
  orderby: 'name',
  pad_counts: true,
  hide_empty: false,
  parent: 0,
}) %}

{% embed 'wrappers/section.twig' %}
  {% block content %}
		<div class="l-component l-header">
			<{{ is_front_page ? 'h2' : 'h1' }} class="{{ class('c-heading', 'h4') }}">
				{{ __('Collections', 'chipmunk') }}
			</{{ is_front_page ? 'h2' : 'h1' }}>
		</div>

    {% include 'content/loop/collection.twig' %}
  {% endblock %}
{% endembed %}
