{% if is_singular('resource') %}
  {% set posts = get_related_posts() %}
{% endif %}

{% if is_singular('page') %}
  {% set title = post.title %}
{% elseif is_singular('resource') %}
  {% set title = __('Related', 'chipmunk') %}
{% elseif is_author and not get_option('disable_user_profiles') %}
  {% set title = __('Resources', 'chipmunk') %}
  {% set description = '' %}
{% elseif 'Archives:' in title  %}
  {% set title = title | replace({ 'Archives: ': '' }) %}
{% endif %}

{% if is_tax('resource-collection') and queried_object %}
  {% set collections = get_terms({
    taxonomy: 'resource-collection',
    parent: queried_object.term_id,
  }) %}
{% endif %}

{% if posts | length or not is_singular('resource') %}
  {% embed 'wrappers/section.twig' %}
    {% block content %}
      <div class="l-component l-header">
        <h2 class="l-section__title {{ class('c-heading', 'h4') }}">
          {{ title }}
        </h2>

        {% if not is_singular('resource') and posts | length %}
          {% include 'sections/filters.twig' %}
        {% endif %}

        {% if description %}
          <p class="l-header__copy">
            {{ description | striptags }}
          </p>
        {% endif %}
      </div>

      {% if collections and posts.pagination.current == 1 %}
        {% include 'content/loop/collection.twig' %}
      {% endif %}

      {% include 'content/loop/resource.twig' with { spacer: collections ? 'lg' } %}
    {% endblock %}
  {% endembed %}
{% endif %}
