/*
** Module - Gutenberg blocks
** -----------------------------------------------------------------------------*/

.wp-block-button,
.wp-block-code,
.wp-block-table,
.wp-block-latest-posts
.wp-block-subhead,
.wp-block-categories,
.wp-block-verse,
.wp-block-preformatted,
.wp-block-text-columns {
  @include spacer(top);
  margin-bottom: 0;
  padding: 0;
}

// Media
.wp-block-image,
.wp-block-cover,
.wp-block-gallery,
.wp-block-embed,
.wp-block-quote,
.wp-block-pullquote {
  @include spacer(top, 1.5);
  @include spacer(bottom, 1.5);
  padding: 0;

  figcaption {
    @extend %caption;
  }

  li {
    padding: 0;
    list-style: none;
  }
}

.wp-block-cover-text {
  @extend %heading;
  @extend %heading-lg;
  color: $color-white;
}

.wp-block-button__link {
  @extend .button;
  @extend .button_tertiary;
}

.wp-block-spacer {
  @include spacer(top, 1.5, padding);
  @include spacer(bottom, 1.5, padding);
  height: auto !important;
}

// Alignments
.alignnone,
.aligncenter,
.alignright,
.alignleft {
  @include spacer(top);
  max-width: 100%;
  clear: both;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.alignwide {
  max-width: none;
  width: 100% !important;

  @include breakpoint(lg) {
    .column--lg-8[class*="offset"] & {
      margin-left: -25.85%;
      margin-right: -25.85%;
    }

    .column--lg-10[class*="offset"] & {
      margin-left: -10.2%;
      margin-right: -10.2%;
    }

    [class*="offset"] & {
      width: 151.7% !important;
    }
  }
}

// Captions
.wp-caption {
  margin-top: 2em;
  margin-bottom: 1em;

  @include breakpoint(md) {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  @include breakpoint(lg) {
    margin-top: 4em;
    margin-bottom: 3.5em;
  }

  a {
    display: block;

    img {
      backface-visibility: hidden;
      transform: translateZ(0) scale(1, 1);
      transition: opacity $transition-duration;
    }

    &:hover img {
      opacity: 0.9;
    }
  }

  .wp-caption-text {
    @extend %caption;
  }
}
