/*
** Module - Button
** -----------------------------------------------------------------------------*/

.button {
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid transparent;
  border-radius: 1.1em;
  font-size: 1.4rem;
  line-height: 1;

  &_primary {
    background-color: $color-primary;
    color: $color-white;

    &:not([disabled]):hover {
      background-color: transparent;
      border-color: currentColor;
      color: $color-primary;
    }
  }

  &_secondary {
    background-color: transparent;
    border-color: currentColor;
    color: $color-primary;

    &:not([disabled]):hover {
      background-color: $color-primary;
      border-color: transparent;
      color: $color-white;
    }
  }

  &_tertiary {
    background-color: transparent;
    border-color: $color-gray;
    color: $color-gray;

    &:not([disabled]):hover {
      background-color: $color-gray;
      border-color: transparent;
      color: $color-white;
    }
  }
}
