/*
** Module - Button
** -----------------------------------------------------------------------------*/

.button {
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid transparent;
  border-radius: 1.1em;
  font-size: 1.4rem;
  line-height: 1;

  &_primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &_secondary {
    border-color: currentColor;
    color: $color-primary;
  }
}
