/*
** Module - Content
** -----------------------------------------------------------------------------*/

.content {
  color: $color-black;
  font-size: calc(#{$size-content} * 0.9);

  @include breakpoint(md) {
    font-size: $size-content;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    @extend %heading;

    &:not(:first-child) {
      margin-top: $separator;

      @include breakpoint(md) {
        margin-top: $separator * 2;
      }
    }

    + ul:not(:first-child),
    + ol:not(:first-child) {
      margin-top: 0;
    }
  }

  > h1, > h2 {
    @extend %heading-xl;

    &:not(:first-child) {
      margin-top: $separator * 2;

      @include breakpoint(lg) {
        margin-top: $separator * 3;
      }
    }
  }

  > h3 {
    @extend %heading-lg;
  }

  > h4 {
    @extend %heading-md;
    text-transform: none !important;
  }

  > h5, > h6 {
    font-size: 1.6rem;
    line-height: 1.6;

    @include breakpoint(md) {
      font-size: 2.1rem;
    }
  }

  > p, > ul, > ol, > blockquote, > table, > pre, > code, > iframe,
  .wp-caption {
    &:not([class*='block']) {
      @include spacer(top);
    }
  }

  > ul,
  > ol {
    margin-left: $base-spacing;
  }

  > ul:not([class*='block']) {
    list-style: disc;
    list-style-position: inside;

    li:not(:first-child) {
      margin-top: $base-spacing / 4;
    }
  }

  > ol:not([class*='block']) {
    list-style: decimal;
    list-style-position: inside;

    li:not(:first-child) {
      margin-top: $base-spacing / 4;
    }
  }

  a {
    @extend %link;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
    background-color: $color-white;
  }

  blockquote:not([class*='block']) {
    p {
      font-size: 1.2em;
    }

    cite {
      @extend %caption-text;
      @extend %caption-quote;
    }
  }

  table {
    min-width: 100%;
    table-layout: fixed;
    border: 1px solid $color-gray-light;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8em;

    @include breakpoint(md) {
      border-width: 2px;
    }

    thead {
      background-color: $color-white;
      font-weight: bold;
      text-align: left;
    }

    td, th {
      padding: 0.5em 1em;
      border: 1px solid $color-gray-light;
      vertical-align: top;

      @include breakpoint(md) {
        border-width: 2px;
      }
    }
  }

  hr:not([class]) {
    border-bottom: 2px solid $color-gray-lighter;
  }

  code {
    width: 100%;
    font-family: $font-mono;
  }

  .wp-caption {
    position: relative;
    max-width: 100%;
    height: auto;

    &:not(:first-child) {
      @include breakpoint(md) {
        margin-top: $base-spacing;
      }
    }

    &:not(:last-child) {
      @include breakpoint(md) {
        margin-bottom: $base-spacing;
      }
    }

    a:not(.button) {
      display: block;
      border: 0;
    }
  }

  .wp-caption-text {
    @extend %caption-text;
    @extend %caption-block;
  }

  // Custom Forms
  > div[class*="contact"],
  > div[id*="contact"],
  > form:not(.form) {
    @include spacer(top);

    div[class*="wrap"], p {
      &:not(.form__field) {
        @extend .form__field;
      }
    }

    label[for] {
      &:not(.form__label) {
        @extend .form__label;
      }
    }

    label {
      width: 100%;
    }

    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
    textarea {
      &:not(.form__input) {
        @extend .form__input;
      }
    }

    input[type="submit"],
    button[type="submit"] {
      &:not(.button--primary) {
        @extend .button;
        @extend .button--primary;
      }
    }
  }
}

.content__component {
  font-size: 1.6rem;

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }
}
