/*
** Module - Content
** -----------------------------------------------------------------------------*/

.content {
  @include typography-properties($content-type, font-size);
  @extend %content-size;

  @for $i from 1 through 6 {
    h#{$i}:not(.heading) {
      @extend %heading !optional;
      @extend %heading-h#{$i} !optional;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include spacer-relative;

    + ul:not(:first-child),
    + ol:not(:first-child) {
      margin-top: 0;
    }
  }

  p, ul, ol, blockquote, table, pre, code, iframe,
  .wp-caption {
    &:not([class*='block']) {
      @include spacer-relative;
    }
  }

  ul:not([class*='block']),
  ol:not([class*='block']) {
    @include spacer-relative(1, left);
    list-style-position: inside;

    li {
      @include spacer-relative(0.25);
    }
  }

  ul:not([class*='block']) {
    list-style: disc;
  }

  ol:not([class*='block']) {
    list-style: decimal;
  }

  a:not([class]) {
    @extend %link;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
    background-color: $color-white;
  }

  blockquote:not([class*='block']) {
    p {
      font-size: 1.2em;
      line-height: 1.5;
    }

    em {
      font-style: normal;
    }

    cite {
      @extend %caption-text;
      @extend %caption-quote;
    }
  }

  table {
    min-width: 100%;
    table-layout: fixed;
    border: 1px solid $color-gray-light;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8em;

    @include breakpoint(md) {
      border-width: 2px;
    }

    thead {
      background-color: $color-white;
      font-weight: bold;
      text-align: left;
    }

    td, th {
      padding: 0.5em 1em;
      border: 1px solid $color-gray-light;
      vertical-align: top;

      @include breakpoint(md) {
        border-width: 2px;
      }
    }
  }

  hr:not([class]) {
    border-bottom: 2px solid $color-gray-lighter;
  }

  code {
    width: 100%;
    font-family: $font-mono;
  }

  .wp-caption {
    @include spacer-relative(1, top);
    @include spacer-relative(1, bottom);
    position: relative;
    max-width: 100%;
    height: auto;

    a:not(.button) {
      display: block;
      border: 0;
    }
  }

  .wp-caption-text {
    @extend %caption-text;
    @extend %caption-block;
  }
}

.content__component {
  font-size: 1.6rem;

  &:not(:first-child) {
    margin-top: $spacer;

    @include breakpoint(md) {
      margin-top: ($spacer * 2);
    }
  }
}
