/*
** Module - Content
** -----------------------------------------------------------------------------*/

.content {
  color: $color-black;
  font-size: 1.8rem;
  line-height: 1.85;

  @include breakpoint(md) {
    font-size: 2.1rem;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    @extend %heading;

    &:not(:first-child) {
      margin-top: $separator;

      @include breakpoint(md) {
        margin-top: $separator * 2;
      }
    }

    + ul:not(:first-child),
    + ol:not(:first-child) {
      margin-top: 0;
    }
  }

  > h1, > h2 {
    @extend %heading-xl;

    &:not(:first-child) {
      margin-top: $separator * 2;

      @include breakpoint(lg) {
        margin-top: $separator * 3;
      }
    }
  }

  > h3 {
    @extend %heading-lg;
  }

  > h4 {
    @extend %heading-md;
    text-transform: none !important;
  }

  > h5, > h6 {
    font-size: 1.6rem;
    line-height: 1.6;

    @include breakpoint(md) {
      font-size: 2.1rem;
    }
  }

  > p,
  > blockquote,
  > table,
  > ul,
  > ol,
  > hr {
    clear: both;

    &:not([class^="wp-block-"]) {
      @include spacer(top);
    }

    > [src] {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  > ol {
    list-style: decimal inside;

    li {
      padding-left: 0.15em;
    }
  }

  > ul {
    list-style: disc inside;
  }

  &:not([class^="wp-block-"]):first-child {
    padding-top: 0.25em;
  }

  a:not([class]) {
    color: $color-gray;

    &:hover {
      color: $color-primary;
    }
  }

  img {
    width: auto;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
    background-color: $color-white;
  }

  blockquote {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-left: 2px solid $color-gray-light;

    @include breakpoint(md) {
      padding-left: 2em;
      border-left-width: 3px;
    }

    p {
      font-size: 1.2em;
    }

    cite {
      @extend %caption;

      &::before {
        content: '– ';
      }
    }
  }

  table {
    min-width: 100%;
    table-layout: fixed;
    border: 2px solid $color-gray-light;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8em;

    @include breakpoint(md) {
      border-width: 3px;
    }

    thead {
      background-color: $color-white;
      font-weight: bold;
      text-align: left;
    }

    td, th {
      padding: 0.5em 1em;
      border: 2px solid $color-gray-light;
      vertical-align: top;

      @include breakpoint(md) {
        border-width: 3px;
      }
    }
  }

  hr {
    border-bottom: 2px solid $color-gray-light;

    @include breakpoint(md) {
      border-bottom-width: 3px;
    }
  }

  code {
    width: 100%;
    font-family: $font-monospace;
  }

  form {
    @extend .form;

    &:first-child {
      margin-top: 0;
    }

    > div {
      @extend .form__field;
    }
  }

  input[type="submit"] {
    @extend .button;
    @extend .button--primary;
  }
}
