/*
** Module - Entry
** -----------------------------------------------------------------------------*/

.entry {
  color: $color-black;
  font-size: 1.8rem;
  line-height: 1.85;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .heading;

    &:not(:first-child) {
      margin-top: 1em;

      @include breakpoint(md) {
        margin-top: 1.85em;
      }
    }
  }

  h1, h2 {
    @extend .heading_xl;
  }

  h3 {
    @extend .heading_lg;

    &:not(:first-child) {
      margin-top: 0.5em;

      @include breakpoint(md) {
        margin-top: 1.5em;
      }
    }
  }

  h4 {
    @extend .heading_md;

    + p, blockquote {
      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  h5, h6 {
    @extend .heading_sm;

    @include breakpoint(md) {
      margin-bottom: 0 !important;
    }
  }

  p, blockquote {
    clear: both;

    &:not(:first-child) {
      margin-top: 1.85em;
    }

    [src] {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  ul, ol {
    clear: both;
  }

  ol {
    padding-left: 1em;
    list-style: decimal;

    li {
      padding-left: 0.15em;
    }
  }

  ul {
    li {
      &::before {
        content: '\2022';
        margin-right: 0.75em;
      }
    }
  }

  li {
    &:first-child {
      padding-top: 5px;
    }
  }

  a {
    color: $color-gray;

    &:hover {
      color: $color-primary;
    }
  }

  img {
    width: auto;
    height: auto;
  }

  .alignnone, .aligncenter {
    clear: both;
    margin-top: 2em;

    @include breakpoint(md) {
      margin-top: 4em;
    }
  }

  .alignright {
    float: right;
    margin-top: 2em;
    margin-left: 1em;
  }

  .alignleft {
    float: left;
    margin-top: 2em;
    margin-right: 1em;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption {
    width: auto !important;
    margin-top: 2em;

    @include breakpoint(md) {
      margin-top: 4em;
    }

    @include breakpoint(lg) {
      margin-left: -25.85%;
      margin-right: -25.85%;
    }

    .wp-caption-text {
      max-width: 250px;
      color: $color-gray;
      font-size: 1.4rem;

      @include breakpoint(md) {
        font-size: 1.6rem;
      }
    }

    a {
      display: block;
      background-color: $color-gray;

      img {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transition: opacity $transition-speed;
      }

      &:hover img {
        opacity: 0.9;
      }
    }
  }
}

.entry__title {
  margin-bottom: $separator;
}

.entry__column {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}
