/*
** Module - Entry
** -----------------------------------------------------------------------------*/

.entry {
  @include breakpoint(md) {
    margin-bottom: $separator;
  }

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }

  .entry__head {
    @include breakpoint(lg) {
      margin-left: 17%;
      margin-right: 17%;
    }
  }

  &[href]:hover .entry__image {
    opacity: 0.8;
  }
}

.entry__image {
  display: block;
  margin-bottom: $separator;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity $transition-speed;

  @include breakpoint(md) {
    margin-bottom: ($separator * 3);
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }

  &[href]:hover {
    opacity: 0.8;
  }
}

.entry__head,
.entry__title {
  margin-bottom: $separator;

  @include breakpoint(md) {
    margin-bottom: ($separator * 2);
  }
}

.entry__title {
  @extend .heading;
  @extend .heading_xl;
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: ($separator * 2);
  }

  a {
    display: inline-block;
    line-height: 1.4;

    &:hover {
      color: $color-primary;
    }
  }
}

.entry__subtitle {
  margin-bottom: $separator;
}

.entry__column {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}

.entry__author {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  font-weight: bold;

  @include breakpoint(md) {
    font-size: 1.8rem;
  }

  img {
    margin-right: $separator;
    border-radius: 50%;
  }

  strong {
    display: inline-block;
    margin-left: 0.25em;
    color: $color-black;
  }
}

.entry__button {
  display: inline-block;
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: ($separator * 2);
  }

  .entry[href]:hover & {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}
