/*
** Module - Entry
** -----------------------------------------------------------------------------*/

.entry {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }

  &:not(:last-child) {
    margin-bottom: ($separator * 2);

    @include breakpoint(md) {
      margin-bottom: ($separator * 3);
    }
  }

  &[href]:hover {
    .entry__image,
    .entry__title,
    .entry__content {
      opacity: 0.8;
    }
  }
}

.entry__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: calc(-40px - #{$separator});
  padding-top: calc(40px + #{$separator});
  background-color: rgba($color-black, 0.9);
  overflow: hidden;

  @include breakpoint(md) {
    min-height: calc(42rem + 40px + #{$separator * 2});
    margin-top: calc(-40px - #{$separator * 2});
    padding-top: calc(40px + #{$separator * 2});
  }

  @include breakpoint(lg) {
    min-height: calc(56.25vw + 40px + #{$separator * 3});
    margin-top: calc(-40px - #{$separator * 3});
    padding-top: calc(40px + #{$separator * 3});
  }

  .entry__title {
    color: inherit;
  }
}

.entry__background {
  @include u-cover(0.33, $color-black);
  @include u-overlay;
  background-color: transparent;
  transition: opacity $transition-duration;
}

.entry__details {
  position: relative;
  z-index: $layer-base;
  color: $color-white;
}

.entry__image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity $transition-duration;

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }

  &[href]:hover {
    opacity: 0.8;
  }
}

.entry__head {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }

  &:only-child,
  &:not(:last-child) {
    margin-bottom: $separator;

    @include breakpoint(md) {
      margin-bottom: ($separator * 2);
    }
  }
}

.entry__title {
  transition: opacity $transition-duration;

  &:not(:first-child) {
    margin-top: $separator;
  }

  &:not(:last-child) {
    margin-bottom: $separator;
  }

  a {
    display: inline-block;

    &:hover {
      color: $color-primary;
    }
  }

  [href] & {
    color: $color-black;
  }
}

.entry__subtitle {
  margin-bottom: $separator;
}

.entry__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -($separator / 2);
  margin-left: -$separator;
  opacity: 0.8;

  > * {
    margin-left: $separator;
    padding-top: ($separator / 2);
  }
}

.entry__content,
.entry__footer {
  transition: opacity $transition-duration;

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: ($separator * 2);
    }
  }
}

.entry__column {
  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}

.entry__author {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  line-height: 1.2;

  img {
    margin-right: ($separator / 2);
    border-radius: 50%;
  }

  strong {
    display: inline-block;
    font-weight: bold;
  }
}

.entry__button {
  display: inline-block;
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: ($separator * 2);
  }

  .entry[href]:hover & {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}
