/*
** Module - Error 404
** -----------------------------------------------------------------------------*/

.error-404 {
  align-items: center;
}

.error-404__title {
  margin-bottom: 1em;
}

.error-404__image {
  margin-top: $spacer;
  user-select: none;
  pointer-events: none;
  opacity: 0.9;
  filter: saturate(75%);

  @include bp(lg) {
    margin-top: 0;
  }

  img {
    margin: auto;
  }
}
