/*
** Module - Filter
** -----------------------------------------------------------------------------*/

.filter {
  display: flex;
  align-items: center;
}

.filter__group {
  display: flex;
  flex-direction: column;
  gap: 0 $spacer * 1.5;
  margin-top: 1rem;

  @include bp(md) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 0;
  }

  @include bp(lg) {
    text-align: right;
  }
}

.filter__select {
  ~ .select2-container {
    font-size: 1.4rem;

    @include bp(md) {
      width: 150px !important;
    }

    @include bp(lg) {
      font-size: 1.6rem;
    }

    .select2-dropdown {
      background-color: $color-background;
    }

    .select2-results__option {
      padding: 0.5em 1.5rem;

      [aria-selected=true] {
        color: $color-white;
      }
    }

    .select2-results__option--highlighted[aria-selected=false] {
      color: $color-black;
    }

    .select2-selection {
      .select2-selection__rendered {
        padding-top: 4px;
        padding-bottom: 4px;

        @include bp(lg) {
          border-bottom-width: 2px;
        }
      }
    }
  }
}

.filter__title {
  margin-right: $spacer;
  font-size: 1.4rem;

  @include bp(lg) {
    font-size: 1.6rem;
  }
}
