/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: $separator * 1.5;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  select,
  textarea {
    display: inline-block;
    width: 100%;
    max-height: 20rem;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 2px solid currentColor;
    border-radius: 0;
    color: $color-black;
    font-size: 1.8rem;
    line-height: 1.6;
    resize: none;
    vertical-align: middle;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint(lg) {
      border-bottom-width: 3px;
      font-size: 2.2rem;
    }

    &::placeholder {
      color: $color-black;
    }

    &:focus {
      outline: none;
    }
  }

  .parsley-errors-list {
    margin-top: 0;
    text-align: left;

    &.filled {
      margin-top: 0.5rem;
    }

    li {
      color: $color-status-error;
      font-size: 1.6rem;
    }

    li::before {
      content: initial;
    }
  }

  label {
    display: inline-block;
    margin: 0.5em 0;
    font-size: 1.6rem;
    font-weight: bold;

    span {
      display: inline-block;
      margin-left: 0.5em;
      font-weight: normal;
      color: $color-gray;
    }
  }

  &_compact {
    input,
    textarea {
      text-align: center;
    }

    .parsley-errors-list.filled {
      width: 100%;
      text-align: center;
    }
  }

  &_centered {
    text-align: center;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: $separator * 1.5;
  }

  &:last-child {
    align-items: center;
  }

  .form_compact &:not(:first-child) {
    margin-top: $separator;
  }

  &_separated:not(:first-child) {
    @include breakpoint(md) {
      margin-top: $separator * 3;
    }
  }

  &_center {
    flex-direction: column;
    align-items: center;

    .g-recaptcha {
      margin-bottom: 2rem;

      @include breakpoint(md) {
        margin-top: 2rem;
        margin-bottom: -1rem;
      }
    }

    .button {
      @include breakpoint(md) {
        margin-top: $separator * 1.5;

        .form_compact & {
          margin-top: 0;
        }
      }
    }
  }
}

.form__child {
  width: 100%;

  &:not(:first-child) {
    margin-top: $separator * 1.5;
  }

  @include breakpoint(md) {
    width: 47.5%;

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}

.form__checkbox {
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
  transition: color $transition-speed;

  @include breakpoint(md) {
    font-size: 1.5rem;
  }

  &:hover {
    color: $color-gray-dark;
  }

  [type="checkbox"] {
    display: inline-block;
    margin-right: 0.25em;

    &:focus {
      outline: none;
    }
  }
}

.form__message {
  margin-top: $separator;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include breakpoint(md) {
    margin-top: $separator * 2;
  }
}

.form__info {
  font-size: 0.85em;

  &_success {
    color: $color-status-success;

    a {
      color: $color-status-success;
    }
  }

  &_warning {
    color: $color-status-warning;

    a {
      color: $color-status-warning;
    }
  }

  &_error {
    color: $color-status-error;

    a {
      color: $color-status-error;
    }
  }

  a:hover {
    color: $color-gray-dark;
  }
}

.form__link[href] {
  display: inline-block;
  margin: 0.5em 0;
  color: $color-gray;
  font-size: 0.8em;

  @include breakpoint(md) {
    margin: 0;
    font-size: 1.5rem;
  }
}
