/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 3px solid currentColor;
    color: $color-black;
    font-size: 2.2rem;
    line-height: normal;

    &::placeholder {
      color: $color-black;
    }

    &:focus {
      outline: none;
    }
  }

  &_compact {
    margin-top: $separator * 2;
    input,
    textarea {
      text-align: center;
    }
  }
}

.form__field {
  margin-top: $separator;

  &:first-child {
    margin-top: 0;
  }
}
