/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacer;
  transition: opacity $transition-duration;

  &:not(:first-child) {
    margin-top: $spacer;

    @include bp(md) {
      margin-top: $spacer * 1.5;
    }
  }

  @include bp(md) {
    grid-template-columns: 1fr 1fr;
    gap: $spacer * 1.5;
  }

  &.is-loading::after {
    font-size: 5rem;
  }

  [data-consent] {
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .comment-subscription-form {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    label {
      margin-left: 0.25em;
      font-weight: normal;
    }
  }

  &.is-loading {
    opacity: 0.25;
  }
}

.form__content {
  display: contents;
}

.form__field {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column: span 1;

  &--separated {
    @include bp(md) {
      margin-top: $spacer * 1.5;
    }
  }

  &--cta {
    align-items: center;
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--wide {
    grid-column: 1 / -1;
  }
}

.form__input {
  @extend %content-size;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  border-radius: 0;
  color: inherit;
  line-height: 1.6;
  resize: none;
  vertical-align: middle;
  appearance: none;
  text-align: inherit;

  @include bp(lg) {
    border-bottom-width: 2px;
  }

  &:not([rows]) {
    @extend %ellipsis;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &--sm {
    @include bp(lg) {
      border-bottom-width: 2px;
    }
  }
}

.form__label {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  span {
    margin-left: 0.5em;
    color: $color-gray;
    font-weight: normal;
  }
}

.form__checkbox {
  flex-grow: 1;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
  transition: color $transition-duration;

  @include bp(md) {
    font-size: 1.5rem;
  }

  &:not(:first-child) {
    margin-left: 1em;
  }

  &:hover {
    color: $color-gray-dark;
  }

  [type="checkbox"] {
    display: inline-block;
    margin-right: 0.25em;

    &:focus {
      outline: none;
    }
  }
}

.form__message {
  grid-column: span 2;

  &:empty {
    display: none;
  }

  &:not(:first-child) {
    margin-top: $spacer;

    @include bp(md) {
      margin-top: $spacer * 2;
    }
  }

  &[data-status='success'] {
    color: $color-status-success;
  }

  &[data-status='error'] {
    margin-bottom: 2rem;
    color: $color-status-error;
  }

  .popup & {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.form__info {
  grid-column: 1 / -1;
  color: $color-gray-dark;

  &_success {
    color: $color-status-success;

    a {
      color: $color-status-success;
    }
  }

  &_warning {
    color: $color-status-warning;

    a {
      color: $color-status-warning;
    }
  }

  &_error {
    color: $color-status-error;

    a {
      color: $color-status-error;
    }
  }

  a:hover {
    color: $color-gray-dark;
  }
}

.form__link[href] {
  display: inline-block;
  margin: 0.5em 0;
  color: $color-gray;
  font-size: 0.8em;

  @include bp(md) {
    margin: 0;
    font-size: 1.5rem;
  }
}
