/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: ($separator * 1.5);
  }

  &--compact {
    text-align: center;
  }

  &.is-loading::after {
    font-size: 5rem;
  }

  [data-consent] {
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .comment-subscription-form {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    label {
      margin-left: 0.25em;
      font-weight: normal;
    }
  }
}

.form__content {
  transition: opacity $transition-duration;

  .is-loading & {
    opacity: 0.25;
  }
}

.form__input {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
  border-bottom: 2px solid currentColor;
  border-radius: 0;
  color: $color-black;
  font-size: 1.8rem;
  line-height: 1.6;
  resize: none;
  vertical-align: middle;
  appearance: none;
  overflow: hidden;
  text-align: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include breakpoint(lg) {
    border-bottom-width: 3px;
    font-size: 2.2rem;
  }

  &::placeholder {
    color: $color-black;
  }

  &:focus {
    outline: none;
  }

  &--sm {
    @include breakpoint(lg) {
      border-bottom-width: 2px;
      font-size: 1.8rem;
    }
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: $separator * 1.5;
    }
  }

  &:last-child {
    align-items: center;
  }

  .form_compact &:not(:first-child) {
    margin-top: $separator;
  }

  &--separated:not(:first-child) {
    @include breakpoint(md) {
      margin-top: $separator * 3;
    }
  }

  &--center {
    justify-content: center;
  }
}

.form__child {
  align-self: flex-start;
  width: 100%;

  &:not(:first-child) {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: $separator * 1.5;
    }
  }

  @include breakpoint(md) {
    width: 47.5%;

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}



.form__checkbox {
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
  transition: color $transition-duration;

  @include breakpoint(md) {
    font-size: 1.5rem;
  }

  &:hover {
    color: $color-gray-dark;
  }

  [type="checkbox"] {
    display: inline-block;
    margin-right: 0.25em;

    &:focus {
      outline: none;
    }
  }
}

.form__message {
  margin-top: $separator;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include breakpoint(md) {
    margin-top: $separator * 2;
  }

  &[data-status='success'] {
    color: $color-status-success;
  }

  &[data-status='error'] {
    margin-bottom: 2rem;
    color: $color-status-error;
  }
}

.form__info {
  color: $color-gray-dark;

  &_success {
    color: $color-status-success;

    a {
      color: $color-status-success;
    }
  }

  &_warning {
    color: $color-status-warning;

    a {
      color: $color-status-warning;
    }
  }

  &_error {
    color: $color-status-error;

    a {
      color: $color-status-error;
    }
  }

  a:hover {
    color: $color-gray-dark;
  }
}

.form__link[href] {
  display: inline-block;
  margin: 0.5em 0;
  color: $color-gray;
  font-size: 0.8em;

  @include breakpoint(md) {
    margin: 0;
    font-size: 1.5rem;
  }
}
