/*
** Module - Form
** -----------------------------------------------------------------------------*/

.form {
  margin-top: $separator;
  text-align: center;

  @include breakpoint(md) {
    margin-top: $separator * 2;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 2px solid currentColor;
    border-radius: 0;
    color: $color-black;
    font-size: 1.8rem;
    line-height: normal;

    @include breakpoint(lg) {
      border-bottom-width: 3px;
      font-size: 2.2rem;
    }

    &::placeholder {
      color: $color-black;
    }

    &:focus {
      outline: none;
    }
  }

  &_compact {
    input,
    textarea {
      text-align: center;
    }
  }
}

.form__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $separator * 1.5;

  &:first-child {
    margin-top: 0;
  }

  .form_compact & {
    margin-top: $separator;

    &:first-child {
      margin-top: 0;
    }
  }

  .button {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(md) {
      margin-top: $separator * 1.5;

      .form_compact & {
        margin-top: 0;
      }
    }
  }

  &_separated {
    @include breakpoint(md) {
      margin-top: $separator * 3;
    }
  }
}

.form__child {
  width: 100%;
  margin-top: $separator * 1.5;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(md) {
    margin-top: 0;
    width: 47.5%;
  }
}

.form__message {
  margin-top: $separator;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include breakpoint(md) {
    margin-top: $separator * 2;
  }
}
