/*
** Module - Heading
** -----------------------------------------------------------------------------*/

.heading {
  @extend %heading;

  @for $i from 1 through 6 {
    &--h#{$i} {
      @extend %heading-h#{$i} !optional;
    }
  }

  small {
    color: $color-gray;
  }

  a:hover {
    text-decoration: underline;
  }

  &--thin {
    font-weight: normal;
  }
}


.heading__link {
  display: inline-block;
  margin-left: $spacer;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: $transition-duration;

  @include breakpoint(md) {
    margin-left: ($spacer * 1.5);
    font-size: 1em;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $color-gray-dark;
  }

  &.active {
    color: $color-black;
  }
}
