/*
** Module - Heading
** -----------------------------------------------------------------------------*/

.heading {
  color: $color-black;
  font-weight: bold;

  &_sm {
    margin-bottom: $separator / 2;
    font-size: 1.6rem;
    line-height: 1.6;

    @include breakpoint(md) {
      margin-bottom: $separator;
    }
  }

  &_md {
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 2.2rem;
    }

    small {
      color: $color-gray;
    }
  }

  &_lg {
    font-size: 2.6rem;
    line-height: 1.45;

    @include breakpoint(md) {
      font-size: 3.2rem;
    }
  }

  &_xl {
    font-size: 3.6rem;
    line-height: 1.45;

    @include breakpoint(md) {
      font-size: 4.2rem;
    }
  }

  &_thin {
    font-weight: normal;
    font-size: 1.6rem;

    @include breakpoint(md) {
      font-size: 2.2rem;
    }
  }
}

.heading__link {
  display: inline-block;
  margin-left: $separator;
  color: $color-gray;
  cursor: pointer;
  transition: color $transition-speed;

  &:first-child {
    margin-left: 0;
  }

  &.active,
  &:hover {
    color: $color-black;
  }
}
