/*
** Module - Headline
** -----------------------------------------------------------------------------*/

.headline {
  color: $color-black;
  font-weight: bold;

  &_sm {
    margin-bottom: $separator / 2;
    font-size: 1.6rem;
    line-height: 1.6;

    @include breakpoint(lg) {
      margin-bottom: $separator;
    }
  }

  &_md {
    font-size: 2.2rem;
    line-height: 1.6;
    text-transform: uppercase;
  }

  &_lg {
    font-size: 3.2rem;
    line-height: 1.45;
  }

  &_xl {
    font-size: 4.8rem;
    line-height: 1.45;
  }

  &_thin {
    font-weight: normal;
    font-size: 2rem;
  }
}
