/*
** Module - Heading
** -----------------------------------------------------------------------------*/

.heading {
  color: $color-black;
  font-weight: bold;

  &_sm {
    margin-bottom: $separator / 2;
    font-size: 1.6rem;
    line-height: 1.6;

    @include breakpoint(md) {
      margin-bottom: $separator;
    }
  }

  &_md {
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 0.025em;

    @include breakpoint(md) {
      font-size: 2.4rem;
    }

    small {
      color: $color-gray;
    }
  }

  &_lg {
    font-size: 2.6rem;
    line-height: 1.4;

    @include breakpoint(md) {
      font-size: 3.6rem;
    }
  }

  &_xl {
    font-size: 3.6rem;
    line-height: 1.4;

    @include breakpoint(md) {
      font-size: 4.8rem;
    }
  }

  &_thin {
    font-weight: normal;
    font-size: 1.6rem;

    @include breakpoint(md) {
      font-size: 2.2rem;
    }
  }
}

.heading__link {
  display: inline-block;
  margin-left: $separator;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: $transition-duration;

  @include breakpoint(sm) {
    font-size: 1em;
  }

  @include breakpoint(md) {
    margin-left: ($separator * 1.5);
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $color-gray-dark;
  }

  &.active {
    color: $color-black;
  }
}
