/*
** Module - Heading
** -----------------------------------------------------------------------------*/

.heading {
  @extend %heading;

  &--sm {
    @extend %heading-sm;
  }

  &--md {
    @extend %heading-md;
  }

  &--lg {
    @extend %heading-lg;
  }

  &--xl {
    @extend %heading-xl;
  }

  &--thin {
    @extend %heading-thin;
  }
}

.heading__link {
  display: inline-block;
  margin-left: $separator;
  color: $color-gray;
  font-size: 0.8em;
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: $transition-duration;

  @include breakpoint(md) {
    margin-left: ($separator * 1.5);
    font-size: 1em;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $color-gray-dark;
  }

  &.active {
    color: $color-black;
  }
}
