/*
** Module - Nav socials
** -----------------------------------------------------------------------------*/

.nav-socials {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    margin-left: 0.5rem;
  }
}

.nav-socials__item {
  margin-left: 1.5rem;

  a {
    display: block;
    height: 2.6rem;
    width: 2.6rem;
    padding: 0.5rem;
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;

    &:hover {
      color: $color-primary;
    }
  }
}
