/*
** Module - Nav secondary
** -----------------------------------------------------------------------------*/

.nav-secondary {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5em;
}

.nav-secondary__item {
  position: relative;
  line-height: 1.4;
}

.nav-secondary__link {
  display: inline-block;

  &[href]:hover,
  &[title]:hover,
  &[type]:hover {
    color: $color-black;
  }
}