/*
** Module - Nav primary
** -----------------------------------------------------------------------------*/

.nav-primary {
  @include u-overlay;
  position: fixed;
  z-index: $layer-nav;
  background-color: $color-white;
  opacity: 0;
  transform: translateY(-10%);
  pointer-events: none;
  transition: opacity, transform;
  transition-duration: $transition-duration * 2;

  .admin-bar & {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }

  .has-nav-open & {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }

  @include breakpoint(lg) {
    position: relative;
    z-index: $layer-base;
    flex: 1;
    background-color: transparent;
    opacity: 1;
    transform: none;
    transition: none;
    pointer-events: all;

    .admin-bar & {
      top: auto;
    }
  }
}

.nav-primary__inner {
  display: flex;
  height: 100%;
  padding: ($separator * 3) $separator;
  overflow: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  text-align: center;

  @include breakpoint(lg) {
    height: auto;
    padding: 0;
    overflow: visible;
    text-align: left;
  }
}

.nav-primary__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;

  @include breakpoint(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -($separator * 2);
    margin-right: $separator;
  }

  ul {
    font-size: 0.8em;

    @media (min-height: 300px) {
      margin-top: 1rem;
    }

    @media (min-height: 400px) {
      margin-top: 2rem;
    }

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}

.nav-primary__item {
  font-size: 2rem;

  @include breakpoint(lg) {
    font-size: 1.6rem;
    margin-left: ($separator * 2);
  }

  &:not(:first-child) {
    @media (min-height: 300px) {
      margin-top: 1rem;
    }

    @media (min-height: 400px) {
      margin-top: 2rem;
    }

    @media (min-height: 600px) {
      margin-top: 3rem;
    }

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }

  a {
    display: block;

    &:hover {
      color: $color-black;
    }
  }

  strong {
    font-weight: bold;
  }

  &--active > a {
    color: $color-black;
  }

  &--condensed {
    display: flex;
    justify-content: center;

    .button {
      min-width: 10rem;
    }

    .button:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &[data-dropdown] {
    > a {
      &::after {
        content: '';
        display: inline-block;
        margin-left: 0.5em;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid currentColor;
        vertical-align: middle;
      }
    }
  }
}

.nav-primary__close {
  position: absolute;
  top: $separator;
  right: $separator;
  display: block;
  padding: 1rem;
  margin: -1rem;
  color: $color-black;
  font-size: 2.2rem;
  line-height: 1;

  @include breakpoint(md) {
    top: $separator * 2;
    right: $separator * 2;
    font-size: 2.4rem;
  }

  &:hover {
    color: $color-primary;
  }
}
