/*
** Module - Overlay
** -----------------------------------------------------------------------------*/

.overlay {
  @include u-overlay(0, 'fixed');
  z-index: $layer-overlay;
  display: flex;
  background-color: $color-background;
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
  pointer-events: none;
  backface-visibility: hidden;
  transition: opacity, transform;
  transition-duration: $transition-duration;

  .has-nav-open & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }

  .container {
    height: 100%;
  }
}

.overlay__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: calc(#{$logo-height} + #{$spacer} + 5vh);
  padding-bottom: 5vh;

  @include breakpoint(md) {
    padding-top: calc(#{$logo-height} + #{$spacer * 2} + 5vh);
  }
}

.overlay__nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.overlay__bottom {
  &:not(:first-child) {
    margin-top: 5vh;
  }
}
