/*
** Module - Page foot
** -----------------------------------------------------------------------------*/

.page-foot {
  background-color: $color-gray-lighter;

  a {
    &:hover {
      color: $color-black;
    }
  }

  .column {
    margin-top: $separator;

    &:first-child {
      margin-top: 0;
    }

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

.page-foot__description {
  @include breakpoint(md) {
    p {
      margin-top: 1.875em;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.page-foot__copy {
  line-height: 1;
}
