/*
** Module - Page foot
** -----------------------------------------------------------------------------*/

.page-foot {
  background-color: $color-gray-lighter;

  a, button {
    &:hover {
      color: $color-black;
    }
  }

  .column {
    margin-top: $separator;

    &:first-child {
      margin-top: 0;
    }

    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

.page-foot__description {
  p {
    @include breakpoint(md) {
      &:not(:first-child) {
        margin-top: 1.875em;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }
}

.page-foot__copy {
  line-height: 1;
}
