/*
** Module - Page head
** -----------------------------------------------------------------------------*/

.page-head {
  @extend %bordered-box;
  z-index: $layer-head;
  margin-bottom: -1px;
  padding-top: $spacer * 0.5;
  padding-bottom: $spacer * 0.5;
  background-color: $color-section;
  transition-property: padding;
  transition-duration: $transition-duration;

  @include bp(md) {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  @include bp(lg) {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 1.5;
  }

  &[data-sticky] {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    .admin-bar & {
      @media (min-width: 600px) {
        top: 4.6rem;
      }

      @media (min-width: 782px) {
        top: 3.2rem;
      }
    }

    &.is-condensed {
      padding-top: $spacer * 0.5;
      padding-bottom: $spacer * 0.5;
    }
  }
}

.page-head__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacer;
  min-height: $logo-height;

  @include bp(lg) {
    gap: ($spacer * 2);
  }
}

.page-head__logo {
  color: $color-primary;
  font-weight: bold;

  a {
    display: block;

    &:hover {
      color: $color-black;
    }
  }

  img {
    display: inline-block;
    max-height: $logo-height;
    vertical-align: middle;
  }
}

.page-head__cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacer * 0.75;
  margin-left: auto;
}

.page-head__search {
  display: block;
  font-size: 2.2rem;
  line-height: 1;

  &:hover {
    color: $color-black;
  }

  .icon {
    display: block;
  }
}
