/*
** Module - Page head
** -----------------------------------------------------------------------------*/

.page-head {
  padding-top: $separator;
  padding-bottom: $separator;
  background-color: $color-gray-lightest;
  border-bottom: 1px solid $color-gray-light;

  @include breakpoint(md) {
    padding-top: $separator * 1.5;
    padding-bottom: $separator * 1.5;
  }
}

.page-head__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head__logo {
  color: $color-primary;
  font-weight: bold;
}

.page-head__cta {
  display: flex;
  align-items: center;
}

.page-head__search {
  display: block;
  margin-right: 2.5rem;
  font-size: 2.2rem;
  line-height: 1;

  &:hover {
    color: $color-black;
  }
}
