/*
** Module - Page head
** -----------------------------------------------------------------------------*/

.page-head {
  background-color: $color-gray-lightest;
  border-bottom: 1px solid $color-gray-light;
}
