/*
** Module - Promo
** -----------------------------------------------------------------------------*/

.promo {
  user-select: none;

  &:not(:first-child) {
    margin-top: $separator * 2;

    @include breakpoint(md) {
      margin-top: $separator * 4;
    }

    a {
      display: block;
      background-color: $color-gray;

      img {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transition: opacity $transition-speed;
      }

      &:hover img {
        opacity: 0.9;
      }
    }
  }
}
