/*
** Module - Promo
** -----------------------------------------------------------------------------*/

.promo {
  user-select: none;

  &:not(:first-child) {
    margin-top: $separator * 2;

    @include breakpoint(md) {
      margin-top: $separator * 4;
    }

    a {
      display: block;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
