/*
** Module - Resource
** -----------------------------------------------------------------------------*/

.resource {
  display: flex;
  flex-direction: column;
  margin-top: -($spacer / 2);
  margin-bottom: -($spacer / 2);

  @include bp(md) {
    margin-top: -($spacer);
    margin-bottom: -($spacer);
  }
}

.resource__head,
.resource__main {
  margin-top: $spacer / 2;
  margin-bottom: $spacer / 2;

  @include bp(md) {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
}

.resource__head {
  display: flex;
  flex-direction: column;

  @include bp(lg) {
    order: -1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.resource__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resource__image {
  align-self: center;
  margin-top: $spacer * 2;

  @include bp(lg) {
    margin-top: 0;
  }
}

.resource__media {
  display: block;
  aspect-ratio: 4 / 3;

  > img,
  > svg,
  > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &[href] {
    &:hover {
      opacity: 0.8;
    }
  }
}

.resource__info,
.resource__extras,
.resource__actions {
  &:not(:first-child):not(:empty) {
    margin-top: $spacer;
  }
}

.resource__info {
  margin-bottom: auto;
}

.resource__title {
  margin-bottom: 1rem;

  a:hover {
    color: $color-gray-dark;
  }
}

.resource__description {
  @extend %content-size;

  @include bp(lg) {
    padding-right: $spacer;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-black;
    }
  }

  img,
  .wp-caption {
    max-width: 100%;
    height: auto !important;
  }

  p {
    &:not(:first-child) {
      margin-top: 0.84em;
    }
  }
}

.resource__tags {
  margin-top: 1rem;

  @include bp(md) {
    margin-top: $spacer;
  }
}

.resource__stats {
  color: $color-gray;

  a:hover {
    color: $color-black;
  }
}

.resource__share {
  &:not(:first-child) {
    margin-top: $spacer * 2;

    @include bp(lg) {
      margin-top: 0;
    }
  }
}

.resource__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: ($spacer / 2) $spacer;

  @include bp(lg) {
    justify-content: flex-start;
  }
}
