/*
** Module - Resource
** -----------------------------------------------------------------------------*/

.resource__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resource__image {
  align-self: center;
  margin-top: $separator;

  @include breakpoint(md) {
    margin-top: $separator * 2;
  }

  @include breakpoint(lg) {
    margin-top: 0;
  }

  a {
    display: block;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
    height: auto !important;
  }
}

.resource__info {
  margin: $separator 0;

  @include breakpoint(lg) {
    margin: $separator 0;
  }
}

.resource__stats {
  color: $color-gray;

  a:hover {
    color: $color-black;
  }
}

.resource__title {
  margin-bottom: 1rem;
  line-height: 1.2;

  a:hover {
    color: $color-gray;
  }
}

.resource__description {
  font-size: 1.8rem;
  line-height: 1.68;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }

  @include breakpoint(lg) {
    padding-right: $separator;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-black;
    }
  }

  img,
  .wp-caption {
    max-width: 100%;
    height: auto !important;
  }

  p {
    &:not(:first-child) {
      margin-top: 0.84em;
    }
  }
}

.resource__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint(lg) {
    justify-content: flex-start;
  }

  .button {
    margin-right: $separator;

    @include breakpoint(lg) {
      margin-right: $separator * 2;
    }
  }
}
