/*
** Module - Section
** -----------------------------------------------------------------------------*/

.section {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  @include breakpoint(md) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }

  &--compact {
    padding-top: $spacer;
    padding-bottom: $spacer;

    @include breakpoint(md) {
      padding-top: $spacer * 2;
      padding-bottom: $spacer * 2;
    }
  }

  &--double {
    @include breakpoint(lg) {
      padding-top: $spacer * 8;
      padding-bottom: $spacer * 8;
    }
  }

  &--theme-light {
    @extend %bordered-box;
    background-color: $color-section;
  }

  &--theme-primary {
    background-color: $color-primary;
    color: $color-white;

    .heading {
      color: inherit;
    }
  }

  &--intro + &:not([class*="theme"]) {
    padding-top: 0;
  }

  &:not([class*="theme"]):not([class*="intro"]) + &:not([class*="theme"]) {
    @extend %bordered-box;
  }
}

.section__separator {
  display: block;

  &:not(:first-child) {
    margin-top: $spacer * 2;

    @include breakpoint(md) {
      margin-top: $spacer * 4;
    }

    .section--compact & {
      margin-top: $spacer;

      @include breakpoint(md) {
        margin-top: $spacer * 2;
      }
    }

    .section--double & {
      @include breakpoint(lg) {
        margin-top: $spacer * 8;
      }
    }
  }
}
