/*
** Module - Section
** -----------------------------------------------------------------------------*/

.section {
  padding-top: $separator * 2;
  padding-bottom: $separator * 2;

  @include breakpoint(md) {
    padding-top: $separator * 4;
    padding-bottom: $separator * 4;
  }

  &_compact {
    padding-top: $separator;
    padding-bottom: $separator;

    @include breakpoint(md) {
      padding-top: $separator * 2;
      padding-bottom: $separator * 2;
    }
  }

  &_separated {
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
  }

  &_theme-white {
    background-color: $color-gray-lightest;
  }

  &_theme-gray {
    background-color: $color-gray-lighter;
  }

  &_theme-primary {
    background-color: $color-primary;
    color: $color-white;

    .headline,
    .button_secondary,
    input,
    input::placeholder {
      color: $color-white;
    }

    .button_secondary:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}
