/*
** Module - Section
** -----------------------------------------------------------------------------*/

.section {
  padding-top: $separator * 2;
  padding-bottom: $separator * 2;

  @include breakpoint(md) {
    padding-top: $separator * 4;
    padding-bottom: $separator * 4;
  }

  &_compact {
    padding-top: $separator;
    padding-bottom: $separator;

    @include breakpoint(md) {
      padding-top: $separator * 2;
      padding-bottom: $separator * 2;
    }
  }

  &_double {
    @include breakpoint(lg) {
      padding-top: $separator * 8;
      padding-bottom: $separator * 8;
    }
  }

  &_compact-bottom {
    padding-bottom: 1em;
  }

  &_separated {
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;

    & + &,
    & + .section_theme-primary {
      margin-top: -1px;
    }
  }

  &_theme-white {
    background-color: $color-white;
  }

  &_theme-gray {
    background-color: $color-gray-lighter;

    & + & {
      border-top: 1px solid $color-gray-light;
    }
  }

  &_theme-primary {
    background-color: $color-primary;
    color: $color-white;

    .heading,
    .button_secondary,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
      &, &::placeholder {
        color: $color-white;
      }
    }

    .button_secondary:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}
