/*
** Module - Section
** -----------------------------------------------------------------------------*/

.section {
  padding-top: $separator * 2;
  padding-bottom: $separator * 2;

  @include breakpoint(md) {
    padding-top: $separator * 4;
    padding-bottom: $separator * 4;
  }

  &--compact {
    padding-top: $separator;
    padding-bottom: $separator;

    @include breakpoint(md) {
      padding-top: $separator * 2;
      padding-bottom: $separator * 2;
    }
  }

  &--double {
    @include breakpoint(lg) {
      padding-top: $separator * 8;
      padding-bottom: $separator * 8;
    }
  }

  &--theme-light {
    @include bordered-box;
    background-color: $color-section;
  }

  &--theme-primary {
    background-color: $color-primary;
    color: $color-white;
  }
}

.section__separator {
  margin-top: $separator * 2;

  @include breakpoint(md) {
    margin-top: $separator * 4;
  }

  .section_compact & {
    margin-top: $separator;

    @include breakpoint(md) {
      margin-top: $separator * 2;
    }
  }

  .section_double & {
    @include breakpoint(lg) {
      margin-top: $separator * 8;
    }
  }
}

.section__title {
  @include breakpoint(lg) {
    font-size: 5.2rem;
  }

  &:not(:last-child) {
    margin-bottom: $separator * 2;

    @include breakpoint(md) {
      margin-bottom: $separator * 4;
    }
  }
}
