/*
** Module - Stats
** -----------------------------------------------------------------------------*/

.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: -1rem;
}

.stats__item {
  margin-right: $separator;
  margin-top: 1rem;

  a:hover {
    color: $color-black;
  }

  .icon {
    margin-right: 0.5rem;
    margin-top: -2px;
    font-size: 1.6rem;
    line-height: inherit;
    vertical-align: middle;
  }

  &_sided {
    flex-grow: 1;
    margin-right: 0;
    text-align: right;
  }
}

.stats__button {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid currentColor;
  border-radius: 1.1em;
  font-size: 1.4rem;
  line-height: 1;
  background-color: transparent;
  color: $color-gray;

  &:hover {
    color: $color-black;
  }

  &.is-active {
    background-color: $color-primary;
    color: $color-white;
  }
}
