/*
** Module - Stats
** -----------------------------------------------------------------------------*/

.stats {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: -1rem;
}

.stats__item {
  margin-right: $separator;
  margin-top: 1rem;

  a:hover {
    color: $color-gray;
  }

  .icon {
    margin-right: 0.5rem;
    margin-top: -2px;
    font-size: 1.6rem;
    line-height: inherit;
    vertical-align: middle;
  }
}
