/*
** Module - Tag
** -----------------------------------------------------------------------------*/

.tag {
  & + &::before {
    content: ', ';
  }
}

.tag__list {
  color: lighten($color-gray, 10%);
  font-size: 1.4rem;

  .icon {
    margin-right: 0.25rem;
    margin-top: -2px;
    font-size: 1.6rem;
    line-height: inherit;
    vertical-align: middle;

    &.icon--arrow-up {
      font-size: 1.2rem;
    }
  }

  a:hover {
    color: $color-black;
    opacity: 0.8;
  }
}
