/*
** Module - Text-box
** -----------------------------------------------------------------------------*/

.text-box {
  margin-top: $separator;
  color: $color-black;
}

.text-box__title {
  margin-bottom: 0.5em;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.text-box__copy {
  font-size: 1.8rem;
  line-height: 1.85;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }

  p {
    &:not(:first-child) {
      margin-top: 1.85em;
    }
  }
}
