/*
** Module - Tile
** -----------------------------------------------------------------------------*/

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: $separator;
  overflow: hidden;

  &:hover {
    .tile__copy .icon {
      transform: translateX(1rem);
    }

    .tile__image img {
      &:nth-child(2) {
        transform: translateX(33.3%);
      }

      &:nth-child(3) {
        transform: translateX(66.6%);
      }
    }
  }

  &_card {
    margin-bottom: $separator;
    background-color: $color-white;
    box-shadow: 0 1px 2px 1px rgba($color-black, 0.1);
    overflow: visible;

    .tile__copy .icon {
      display: none;
    }

    &:hover {
      background-color: rgba($color-white, 0.5);
    }

    .slick-slide & {
      margin-bottom: 5px;
    }
  }

  &_blank {
    background-color: transparent;
    box-shadow: none;

    @include breakpoint(md) {
      margin-bottom: $separator * 2;
    }

    &:hover {
      background-color: transparent;
    }

    &[href]:hover .tile__image,
    &[href]:hover .tile__info {
      opacity: 0.8;
    }
  }
}

.tile__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$separator / 2);

  &.slick-slider {
    display: block;
  }
}

.tile__slider {
  display: flex;
  padding: 0 ($separator / 2);
  width: 100%;

  @include breakpoint(md) {
    width: 50%;
  }

  @include breakpoint(lg) {
    width: 33.3%;
  }

  &:focus {
    outline: none;
  }

  .tile {
    flex-grow: 1;
    width: 100%;
  }
}

.tile__image {
  @include u-object-fit(75%);
  background-color: $color-gray-light;
  transition: opacity $transition-duration;

  &[href]:hover {
    opacity: 0.8;
  }

  > * {
    box-shadow: -2px 0 10px 0 rgba($color-black, 0.5);
    transition: transform $transition-duration ease-in-out 0.05s;

    &:nth-child(2) {
      transform: translateX(25%);
    }

    &:nth-child(3) {
      transform: translateX(50%);
    }
  }

  .tile_card & {
    position: relative;
    margin-bottom: $separator;
  }
}

.tile__content {
  @include u-overlay;
  z-index: $layer-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: $separator;
  color: $color-black;

  @include breakpoint(md) {
    padding: $separator * 1.5;
  }

  &_dimmed {
    background-color: rgba($color-black, 0.75);
    color: $color-white;
  }

  &_primary {
    background-color: rgba($color-black, 0.75);
    color: $color-white;
  }

  .tile_card & {
    position: relative;
  }

  .tile_card:not(.tile_blank) & {
    &:not(:first-child) {
      padding: 0 $separator $separator;
    }
  }

  .tile_blank & {
    padding: 0;
  }
}

.tile__info {
  flex: 1;
  transition: opacity $transition-duration;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.tile__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .tile_card & {
    margin-bottom: 1rem;
  }
}

.tile__title {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;

  @include breakpoint(md) {
    font-size: 2.2rem;
  }

  a {
    display: inline-block;

    &:hover {
      color: $color-primary;
    }
  }
}

.tile__icon {
  margin-left: 1rem;
  margin-top: 0.1em;
  padding: 0.2em;
  line-height: 1;
  cursor: pointer;
  transition: color $transition-duration;

  .tile_card & {
    color: $color-gray;

    &:hover {
      color: $color-black;
    }
  }
}

.tile__copy {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  opacity: 0.85;

  span {
    white-space: nowrap;
  }

  .icon {
    font-size: 1.2rem;
    line-height: inherit;
    transition: transform $transition-duration ease-in-out 0.05s;
  }

  small {
    float: right;

    .icon {
      line-height: inherit;
      vertical-align: -0.01em;
    }
  }

  .tile_card & {
    opacity: 1;
  }
}

.tile__stats {
  .tile_card & {
    color: $color-gray;
  }
}

.tile__button {
  align-self: flex-start;
  margin-top: 2rem;

  .tile[href]:hover &,
  &[href]:hover {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-white;
  }
}
