/*
** Module - Tile
** -----------------------------------------------------------------------------*/

.tile {
  position: relative;
  display: block;
  margin-top: $separator;
  overflow: hidden;

  &:hover {
    .tile__copy .icon_arrow {
      transform: translateX(1em);
    }

    .tile__image img {
      &:nth-child(2) {
        transform: translateX(33.3%);
      }

      &:nth-child(3) {
        transform: translateX(66.6%);
      }
    }
  }

  &_card {
    margin-bottom: $separator;

    &:hover .tile__image {
      opacity: 0.8;
    }
  }
}

.tile__list {
  @include clearfix;
  margin: 0 (-$separator / 2);
}

.tile__slider {
  display: none;
  padding: 0 ($separator / 2);
  float: left;
  width: 33.3%;

  &:focus {
    outline: none;
  }

  &.slick-slide {
    display: block;
  }
}

.tile__image {
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  transition: opacity $transition-speed;

  &::before {
    content: '';
    display: block;
    padding-bottom: 70%;
  }

  img {
    @include cover;
    display: block;
    max-width: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: -2px 0 10px 0 rgba($color-black, 0.5);
    transition: transform $transition-speed ease-in-out 0.05s;

    &:nth-child(2) {
      transform: translateX(25%);
    }

    &:nth-child(3) {
      transform: translateX(50%);
    }
  }

  .tile_card & {
    position: relative;
    margin-bottom: $separator;
  }
}

.tile__content {
  @include cover;
  z-index: $zindex-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $separator;
  color: $color-black;

  @include breakpoint(md) {
    padding: $separator * 1.5;
  }

  &_dimmed {
    background-color: rgba($color-black, 0.75);
    color: $color-white;
  }

  .tile_card & {
    position: relative;
    padding: 0;
  }
}

.tile__info {
  margin-bottom: 1rem;
}

.tile__title {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.tile__copy {
  margin-bottom: 1rem;
  font-size: 1.4rem;

  .icon_arrow {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    line-height: inherit;
    transition: transform $transition-speed ease-in-out 0.05s;
  }

  small {
    float: right;

    .icon {
      line-height: inherit;
      vertical-align: -0.01em;
    }
    // font-size: 0.8em;
  }
}
