/*
** Module - Tile
** -----------------------------------------------------------------------------*/

.tile {
  position: relative;
  display: block;
  margin-top: $separator;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: 70%;
  }

  &:hover {
    .tile__copy .icon {
      transform: translateX(1em);
    }

    .tile__image img {
      &:nth-child(2) {
        transform: translateX(33.3%);
      }

      &:nth-child(3) {
        transform: translateX(66.6%);
      }
    }
  }
}

.tile__list {
  margin: 0 (-$separator / 2);
}

.tile__wrapper {
  padding: 0 ($separator / 2);

  &:focus {
    outline: none;
  }
}

.tile__image {
  @include cover;
  user-select: none;
  pointer-events: none;

  img {
    @include cover;
    display: block;
    max-width: none;
    height: 100%;
    box-shadow: -2px 0 10px 0 rgba($color-black, 0.5);
    transition: transform $transition-speed ease-in-out 0.05s;

    &:nth-child(2) {
      transform: translateX(25%);
    }

    &:nth-child(3) {
      transform: translateX(50%);
    }
  }
}

.tile__content {
  @include cover;
  z-index: $zindex-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $separator;
  background-color: rgba($color-black, 0.75);
  color: $color-white;

  @include breakpoint(md) {
    padding: $separator * 1.5;
  }
}

.tile__title {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.tile__copy {
  font-size: 1.4rem;

  .icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    line-height: inherit;
    transition: transform $transition-speed ease-in-out 0.05s;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}
