/*
** Module - Toolbox
** -----------------------------------------------------------------------------*/

.toolbox {
  display: flex;
  flex-direction: column;

  @include bp(md) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.toolbox__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacer;
  margin-left: auto;

  @include bp(md) {
    justify-content: flex-end;
    padding-left: $spacer * 2;
  }
}
