/*
** Layout - Component
** ----------------------------------------------------------------------------- */

.l-component {
  @include spacer-fixed(1.25);

  &--md {
    @include spacer-fixed(2.5);
  }

  &--lg {
    @include spacer-fixed(5);
  }
}
