/*
** Layout - Grid
** -----------------------------------------------------------------------------*/

$grid-columns: (
  sm: 4,
  md: 6,
  lg: 12,
);

.grid {
  display: grid;
  gap: var(--column-gutter);

  &--separated {
    row-gap: calc(var(--column-gutter) * 2);
  }

  // Grid variants
  @each $breakpoint, $columns in $grid-columns {
    @include bp($breakpoint) {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
}

.grid__item {
  grid-column: 1 / -1;

  // Grid variants
  @each $breakpoint, $columns in $grid-columns {
    @include bp($breakpoint) {
      @for $i from 1 through $columns {
        &--#{$breakpoint}-#{$i} {
          grid-column: span $i;
        }
      }
    }
  }
}
