/*
** Utils - Avatar
** -----------------------------------------------------------------------------*/

.u-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  width: 3.2rem;
  background-color: $color-background;
  border-radius: 50%;
  color: $color-black;
  font-size: 1.6rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
