/*
** Utils - Checkbox
** -----------------------------------------------------------------------------*/

.u-checkbox {
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  text-align: left;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  input {
    position: absolute;
    left: -9999em;
  }
}

.u-checkbox__mark {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  background-color: $color-white;
  border: 1px solid;
  color: $color-black;
  font-size: 1.25em;
  line-height: 1;

  .icon {
    position: relative;
    line-height: 1;
    opacity: 0;
    vertical-align: middle;
  }

  input:checked + & {
    .icon {
      opacity: 1;
    }
  }

  .parsley-error & {
    border-color: $color-status-error;
  }
}

.u-checkbox__label {
  flex: 1;
  font-size: 0.875em;
  line-height: 1.5;
}
