/*
** Utils - Hamburger
** ----------------------------------------------------------------------------- */

.u-hamburger {
  @include u-hamburger(2.5rem, 1.8rem, 2px, currentColor, $transition-duration / 1.25, 'none', 1px);
}
