/*
** Utils - Hamburger
** ----------------------------------------------------------------------------- */

.u-hamburger {
  @include u-hamburger(2.5rem, 1.8rem, 2px, currentColor, $transition-duration);
}
