/*
** Utils - Separator
** -----------------------------------------------------------------------------*/

.separator {
  padding-top: $separator;
  margin-top: $separator;
  border-top: 1px solid rgba($color-black, $border-opacity);

  @include breakpoint(md) {
    padding-top: $separator * 2;
    margin-top: $separator * 2;
  }
}
