/*
** Utils - Sort
** -----------------------------------------------------------------------------*/

.sort {
  margin-top: 1rem;

  @include breakpoint(md) {
    margin-top: 0;
    text-align: right;
  }
}

.sort__select {
  ~ .select2-container {

    @include breakpoint(md) {
      width: auto !important;
      min-width: 150px;
    }

    .select2-dropdown {
      background-color: $color-gray-lighter;
      border-color: $color-gray;
    }

    .select2-results__option {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;

      @include breakpoint(lg) {
        font-size: 1.6rem;
      }
    }

    .select2-selection {
      .select2-selection__rendered {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 1.4rem;

        @include breakpoint(lg) {
          border-bottom-width: 2px;
          font-size: 1.6rem;
        }
      }

      .select2-selection__arrow {
        height: 27px;

        b {
          margin-left: -5px;
          margin-top: -3px;
          border-color: $color-black transparent transparent;
          border-width: 10px 6px 0;
        }
      }
    }
  }
}

.sort__title {
  margin-right: $separator;
  font-size: 1.4rem;

  @include breakpoint(lg) {
    font-size: 1.6rem;
  }
}
