/*
** Utils - Tabs
** -----------------------------------------------------------------------------*/

.tabs__item {
  display: none;

  &.active {
    display: block;

    &.row {
      display: flex;
    }
  }
}
