/*
** Utils - Tabs
** -----------------------------------------------------------------------------*/

.tabs__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacer;
  padding-right: 6rem;

  @include bp(md) {
    gap: $spacer * 1.5;
  }
}

.tabs__item {
  display: none;

  &.active {
    display: block;
  }
}
