/*
** Utils - Text
** -----------------------------------------------------------------------------*/

.text {
  &_center {
    text-align: center;
  }

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_content {
    a:hover {
      color: $color-black;
    }
  }

  &_separated {
    margin-top: 1em;
  }

  &_subtitle {
    margin-top: $separator;
    margin-bottom: $separator;

    @include breakpoint(lg) {
      margin-bottom: ($separator * 1.5);
    }
  }
}
