/*
** Utils - Verifiable
** -----------------------------------------------------------------------------*/

.u-verifiable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > span {
    display: block;
    margin-left: 0.5em;
    font-size: 0.9em;
    color: $color-status-info;
    line-height: 1;

    svg {
      display: block;
    }
  }
}
