<div class="section section_theme-primary text-center">
  <div class="container">
    <h2 class="headline headline_xl">Newsletter</h2>
    <p class="headline headline_thin">Never miss a thing! Sign up for our newsletter to stay updated.</p>

    <div class="row">
      <form action="#" method="post" class="form form_compact column column_sm-4 column_sm-offset-1 column_md-4 column_md-offset-1 column_lg-6 column_lg-offset-3">
        <div class="form__field">
          <input type="email" name="email" placeholder="Email address" required>
        </div>
        <div class="form__field">
          <button type="submit" class="button button_secondary">Join now</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.section -->

<div class="page-foot section section_theme-white">
  <div class="container">
    <div class="row">
      <div class="column column_md-3 column_lg-5">
        <h4 class="headline headline_sm">About</h4>

        <div class="page-foot__description">
          <p>Internet Curated is a collection of all the best curated resources on the internet.</p>
          <p>Created by <a href="#">@piotrkulpinski</a> and <a href="#">@janwennesland</a></p>
        </div>
      </div>

      <div class="column column_md-2 column_md-offset-1 column_lg-2 column_lg-offset-3">
        <h4 class="headline headline_sm">Navigation</h4>

        <ul class="nav-secondary">
          <li class="nav-secondary__item"><a href="#">Home</a></li>
          <li class="nav-secondary__item"><a href="#">Collections</a></li>
          <li class="nav-secondary__item"><a href="#">About</a></li>
          <li class="nav-secondary__item"><a href="#">Submit</a></li>
        </ul>
      </div>

      <div class="column column_lg-2 visible-lg-block">
        <h4 class="headline headline_sm">Follow</h4>

        <ul class="nav-secondary">
          <li class="nav-secondary__item"><a href="#">Facebook</a></li>
          <li class="nav-secondary__item"><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.section -->
