/*
** Utils - Avatar
** ----------------------------------------------------------------------------- */

.u-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  background-color: var(--chipmunk--color--background);
  border-radius: 50%;
  color: var(--chipmunk--color--black);
  font-size: 1em;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
