/*
** Utils - Dropdown
** ----------------------------------------------------------------------------- */

.u-dropdown {
  &--light {
    @include dropdown(2.25rem, 'light', 'right');
  }

  &--dark {
    @include dropdown(2.25rem, 'dark', 'right');
  }

  .is-open & {
    @include dropdown-open;
  }
}

.u-dropdown__link {
  @extend %dropdown-link;

  min-width: 12.5rem;
  white-space: nowrap;
}

.u-dropdown__trigger {
  position: relative;
}
