{% embed 'wrappers/section.twig' %}
  {% block content %}
    <div class="l-wrapper">
      <div class="c-entry">
        <h1 class="c-entry__title {{ class('c-heading', 'h2') }}">
          {{ post.title }}
        </h1>

        <div class="c-entry__content {{ class('c-content', 'type') }}">
          {{ post.content }}
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
