{% set is_content_separated = (post.content | striptags | length) > 500 or get_option('display_resource_content_separated') %}
{% set links = get_resource_links( post.id ) %}

<div class="l-section">
	<div class="l-container">
		<article class="c-resource" itemscope itemtype="http://schema.org/Product">
			<meta itemprop="name" content="{{ post.title | striptags }}" />

      {% include 'content/entry/resource/content.twig' %}
      {% include 'content/entry/resource/media.twig' %}
      {% include 'content/entry/resource/head.twig' %}
		</article>
	</div>
</div>

{% include 'content/entry/resource/entry.twig' %}
