{% extends 'layouts/default.twig' %}
{% set pageName = 'General' %}

{% block content %}

  <div class="section section_theme-gray">
    <div class="container">
      <div class="row">
        <div class="column column_lg-8 column_lg-offset-2">
          <h1 class="entry__subtitle heading heading_md">Page title</h1>

          {% include 'partials/content.twig' %}
        </div>
      </div>
    </div>
  </div>
  <!-- /.section -->

{% endblock %}
