{% extends 'layouts/default.twig' %}
{% set pageName = 'General' %}

{% block content %}

  <div class="section section_theme-gray">
    <div class="container">
      <div class="row">
        <div class="column column_lg-8 column_lg-offset-2">
          <h1 class="entry__title heading heading_md">Page title</h1>

          <div class="entry">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>
            <p>Morbi eu arcu ac massa vulputate bibendum quis nec nibh. Duis aliquam luctus lobortis.</p>

            <div class="wp-caption alignnone">
              <a href="#"><img src="http://placehold.it/940x370?text=Content+image" alt=""></a>
              <p class="wp-caption-text">This is the optional caption.</p>
            </div>

            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>

            <h4>Lorem ipsum</h4>
            <ul>
              <li>Fermentum a mauris ac</li>
              <li>Lorem ipsum dolor, sit amet.</li>
              <li>Fermentum a mauris ac</li>
              <li>Lorem ipsum dolor, sit amet.</li>
            </ul>

            <div class="wp-caption alignnone">
              <a href="#"><img src="http://placehold.it/940x370?text=Content+image" alt=""></a>
              <p class="wp-caption-text">This is the optional caption.</p>
            </div>

            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>

            <h4>Dolor sit amet</h4>
            <ol>
              <li>Fermentum a mauris ac</li>
              <li>Lorem ipsum dolor, sit amet.</li>
              <li>Fermentum a mauris ac</li>
              <li>Lorem ipsum dolor, sit amet.</li>
            </ol>

            <h2>Level One & Two</h2>
            <h3>Level Three</h3>
            <h4>Level Four</h4>
            <h5>Level Five & Six</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat ultrices arcu a congue. Nullam est massa, fermentum a mauris ac, bibendum suscipit magna.</p>
          </div>
          <!-- /.entry -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.section -->

{% endblock %}
