{% extends 'layouts/default.twig' %}
{% set pageName = 'General' %}

{% block content %}

  <div class="section section_theme-gray">
    <div class="container">
    </div>

    {% include 'sections/promo.twig' %}
  </div>
  <!-- /.section -->

  {% include 'sections/toolbox.twig' %}

{% endblock %}
