{% extends 'layouts/default.twig' %}
{% set pageName = 'Index' %}

{% block content %}
  <div class="section section_theme-gray">
    <div class="container">
      <h3 class="headline headline_md">Featured</h3>

      <div class="row">
        {% set resources = ['Startup Stash', 'Color Hunt', 'Canopy'] %}

        {% for resource in resources %}
          <a href="#" class="tile column column_md-3 column_lg-4">
            <div class="tile__image">
              <img src="images/pic-resource-0{{ loop.index }}.png" alt="" />
            </div>

            <div class="tile__content">
              <h3 class="tile__title">{{ resource }}</h3>
              <p class="tile__copy">A curated directory of 400 resources & tools for startups&nbsp;<i class="icon icon_arrow"></i></p>

              <ul class="tile__stats">
                <li title="Published"><i class="icon icon_clock"></i> {{ random(30) + 1 }}. August</li>
                <li title="Views"><i class="icon icon_view"></i> {{ random(2000) }}</li>
              </ul>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- /.section -->

  {% include 'partials/toolbox.twig' %}
  {% include 'partials/categories.twig' %}
{% endblock %}
