{% extends 'layouts/default.twig' %}
{% set pageName = 'Index' %}

{% block content %}
  <div class="section section_theme-gray">
    <div class="container">
      featured
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-white section_separated section_compact">
    <div class="container">
      follow
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-gray">
    <div class="container">
      categories
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-primary text-center">
    <div class="container">
      newsletter
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-white">
    <div class="container">
      <div class="row">
        <div class="column column_lg-5">
          About
        </div>
        <div class="column column_lg-2 column_lg-offset-3">
          Navigation
        </div>
        <div class="column column_lg-2">
          Follow
        </div>
      </div>
    </div>
  </div>
  <!-- /.section -->
{% endblock %}
