{% extends 'layouts/default.twig' %}
{% set pageName = 'Index' %}

{% block content %}
  <div class="section section_theme-gray">
    <div class="container">
      <h3 class="headline headline_md">Featured</h3>
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-white section_separated section_compact">
    <div class="container">
      follow
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-gray">
    <div class="container">
      <h3 class="headline headline_md">Categories</h3>
    </div>
  </div>
  <!-- /.section -->

  <div class="section section_theme-primary text-center">
    <div class="container">
      <h2 class="headline headline_xl">Newsletter</h2>
    </div>
  </div>
  <!-- /.section -->
{% endblock %}
