{% extends 'layouts/default.twig' %}
{% set pageName = 'Search' %}

{% block content %}

  <div class="section section_theme-gray">
    
  </div>
  <!-- /.section -->

  {% for i in 1..3 %}
    {% include 'sections/resource.twig' %}
  {% endfor %}

  <div class="section section_theme-gray">
    {% include 'sections/promo.twig' %}
  </div>
  <!-- /.section -->

  {% include 'sections/toolbox.twig' %}

{% endblock %}
