{% extends 'layouts/default.twig' %}
{% set pageName = 'Search' %}

{% block content %}

  <div class="section section_compact-bottom section_theme-gray">
    <div class="container">
      <h3 class="heading heading_md"><small>Search results for</small> startup</h3>
    </div>
  </div>
  <!-- /.section -->

  {% for i in 1..3 %}
    {% include 'sections/resource.twig' %}
  {% endfor %}

  <div class="section section_theme-gray">
    {% include 'sections/pagination.twig' %}
  </div>
  <!-- /.section -->

{% endblock %}
