/*
** Tools - Cover
** ----------------------------------------------------------------------------- */

@mixin cover($color: rgba(0 0 0 / 0.1)) {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0 0 0 / 0), $color);
    pointer-events: none;
  }
}
