/*
** Tools - Cover
** -----------------------------------------------------------------------------*/

@mixin cover($lightness: 0.1, $color: #000, $duration: 0.25s) {
  position: relative;
  background-color: rgba($color, 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;

  @if ($lightness > 0) {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba($color, $lightness);
      pointer-events: none;
      transition: background-color $duration;
    }

    &[href]:hover::after {
      background-color: rgba($color, $lightness + 0.1);
    }
  }
}
