/*
** Tools - Loader
** ----------------------------------------------------------------------------- */

@mixin loader($size: 1em) {
  > span {
    transition: opacity var(--chipmunk--transition-duration);
  }

  &.is-loading {
    position: relative;

    > span {
      opacity: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-top: $size * -0.5;
      margin-left: $size * -0.5;
      width: $size;
      height: $size;
      border-radius: 50%;
      border-color: currentColor transparent transparent;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px transparent;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
    }
  }
}
